.rich-text img {
  height: auto;
  max-width: 100%;
}

.responsive-object {
  position: relative;

  .article-body & {
    margin-bottom: 24px;
  }
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

iframe {
  border: none;
}
