.label {
  background-color: $color-blue-50;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.2em;
  padding: 4px 6px;
  vertical-align: 2px;
  width: auto;
  margin-left: $spacing-sm;
}
