.event-map {
  padding: 80px 0;
}

.map-container {
  position: relative;
}

.map {
  width: 100%;
  height: 300px;
}

.marker {
  background-image: url($image-path + '/icons/ui/map-pin.svg');
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mapboxgl-popup-content {
  p {
    padding-top: 16px;
    margin: 0;
  }
}

.map-container .h-card {
  bottom: 0;
  background-color: $color-white;
  max-width: 250px;
  padding: 16px;
  position: absolute;
  z-index: 5;
  h5 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}
