.pattern {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
