blockquote {
  font-family: $heading-font-family;
  font-size: 24px;
  line-height: 32px;
  margin: 24px auto;
  max-width: 90%;
  text-align: center;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}
