// revert the Protocol styling reset
.rich-text {
  ul,
  ol {
    list-style: revert;
  }

  li {
    margin-left: 1.5em;
    padding-left: 4px;
  }
}

.external-link {
  color: $color-blue-50;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $color-blue-60;
    text-decoration: underline;
  }

  &:active {
    background-color: rgba(0, 0, 0, .05);
  }
}

// TODO
// .external-link:visited {
//   color: $color-blue-40;

//   &:hover {
//     color: $color-blue-40;
//   }
// }
