// revert the Protocol styling reset
.rich-text {
  p {
    color: $color-nevada;
  }

  ul,
  ol {
    list-style: revert;
  }

  li {
    color: $color-nevada;
    margin-left: 1.5em;
    padding-left: 4px;
  }
}

.page-link,
.external-link {
  color: $color-ext-link;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $color-ext-link-hover;
    text-decoration: underline;
  }

  &:active {
    background-color: rgba(0, 0, 0, .05);
  }

  &:visited {
    color: $color-ext-link-visited;

    &:hover {
      color: $color-ext-link-visited;
    }
  }
}
