@font-face {
  font-display: 'fallback';
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Inter-Regular.woff2') format('woff2'),
       url('/static/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-display: 'fallback';
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/Inter-Italic.woff2') format('woff2'),
       url('/static/fonts/Inter-Italic.woff') format('woff');
}

@font-face {
  font-display: 'fallback';
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Inter-Bold.woff2') format('woff2'),
       url('/static/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-display: 'fallback';
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: url('/static/fonts/Inter-BoldItalic.woff2') format('woff2'),
       url('/static/fonts/Inter-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: 'fallback';
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/ZillaSlab-Regular.woff2') format('woff2'),
       url('/static/fonts/ZillaSlab-Regular.woff') format('woff');
}

@font-face {
  font-display: 'fallback';
  font-family: 'Zilla Slab';
  font-style: bold;
  font-weight: 700;
  src: url('/static/fonts/ZillaSlab-Bold.woff2') format('woff2'),
       url('/static/fonts/ZillaSlab-Bold.woff') format('woff');
}

@font-face {
  font-display: 'fallback';
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/ZillaSlabHighlight-Regular.woff2') format('woff2'),
       url('/static/fonts/ZillaSlabHighlight-Regular.woff') format('woff');
}

@font-face {
  font-display: 'fallback';
  font-family: 'Zilla Slab Highlight';
  font-style: bold;
  font-weight: 700;
  src: url('/static/fonts/ZillaSlabHighlight-Bold.woff2') format('woff2'),
       url('/static/fonts/ZillaSlabHighlight-Bold.woff') format('woff');
}

html {
  font-size: $body-font-size;
}

body {
  font-family: $body-font-family;
  line-height: $body-line-height;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 0;
}

@function heading-line-height($font-size) {
  @return $font-size + 8px;
}

h1 {
  font-size: $h1-font-size-mobile;
  line-height: heading-line-height($h1-font-size-mobile);

  @media #{$mq-md} {
    font-size: $h1-font-size;
    line-height: heading-line-height($h1-font-size);
  }
}

h2 {
  font-size: $h2-font-size-mobile;
  line-height: heading-line-height($h2-font-size-mobile);

  @media #{$mq-md} {
    font-size: $h2-font-size;
    line-height: heading-line-height($h2-font-size);
  }
}

h3 {
  font-size: $h3-font-size-mobile;
  line-height: heading-line-height($h3-font-size-mobile);

  @media #{$mq-md} {
    font-size: $h3-font-size;
    line-height: heading-line-height($h3-font-size);
  }
}

h4 {
  font-size: $h4-font-size-mobile;
  line-height: heading-line-height($h4-font-size-mobile);

  @media #{$mq-md} {
    font-size: $h4-font-size;
    line-height: heading-line-height($h4-font-size);
  }
}

h5 {
  font-size: $h5-font-size;
  line-height: heading-line-height($h5-font-size);
}

h6 {
  font-size: $h6-font-size;
  line-height: heading-line-height($h6-font-size);
}

b,
strong {
  font-weight: 700;
}

p,
ul,
ol {
  margin-bottom: $spacing-md;
  margin-top: 0;
}

.highlight {
  font-family: 'Zilla Slab Highlight';
  font-size: $highlight-font-size-mobile;

  @media #{$mq-md} {
    font-size: $highlight-font-size;
  }
}

.highlighted {
  background-color: $color-black;
  color: $color-white;
}

.highlighted-inline {
  background-color: $color-black;
  box-decoration-break: clone;
  box-shadow: 0 0 0 3px $color-black;
  display: inline;
  left: 3px;
  position: relative; 
}
