@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Inter-Italic.woff2') format('woff2'),
    url('../fonts/Inter-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
    url('../fonts/Inter-BoldItalic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ZillaSlab-Regular.woff2') format('woff2'),
    url('../fonts/ZillaSlab-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/ZillaSlab-SemiBold.woff2') format('woff2'),
    url('../fonts/ZillaSlab-SemiBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/ZillaSlab-Bold.woff2') format('woff2'),
    url('../fonts/ZillaSlab-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab Highlight';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ZillaSlabHighlight-Regular.woff2') format('woff2'),
    url('../fonts/ZillaSlabHighlight-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Zilla Slab Highlight';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/ZillaSlabHighlight-Bold.woff2') format('woff2'),
    url('../fonts/ZillaSlabHighlight-Bold.woff') format('woff');
}

html {
  font-size: $body-font-size;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $body-font-family;
  line-height: $body-line-height;
  text-rendering: optimizeLegibility;
}

// h1,
// .heading1,
// h2,
// .heading2,
// h3,
// .heading3,
// h4,
// .heading4,
// h5,
// .heading5,
// h6,
// .heading6 {
//   font-family: $heading-font-family;
//   font-weight: 700;
//   margin-bottom: 0.5em;
//   margin-top: 0;
//   position: relative;
// }

h5,
.heading5 {
  font-weight: 400;
}

// h2,
// h3,
// h4,
// h5,
// h6 {
//   &:not(.no-underline) {
//     background: repeating-linear-gradient(
//       to bottom,
//       transparent 0,
//       transparent 0.8em,
//       transparentize($color-yellow-30, 0.5) 0.8em,
//       transparentize($color-yellow-30, 0.5) 1.1em
//     );
//     display: inline;
//     margin-bottom: 0;

//     &:before {
//       content: '';
//       display: block;
//     }

//     &:after {
//       content: '';
//       display: block;
//       margin-bottom: 0.5em;
//     }
//   }

//   &:before {
//     clear: both;
//   }
// }

// .underline {
//   background: repeating-linear-gradient(
//     to bottom,
//     transparent 0,
//     transparent 0.8em,
//     transparentize($color-yellow-30, 0.5) 0.8em,
//     transparentize($color-yellow-30, 0.5) 1.1em
//   );
//   display: inline;

//   &:before {
//     content: '';
//     display: block;
//     margin-bottom: 0;
//   }

//   &:after {
//     content: '';
//     display: block;
//     margin-bottom: 0.5em;
//   }
// }

// @function heading-line-height($font-size) {
//   @return $font-size + 8px;
// }

// h1 {
//   font-size: $h1-font-size-mobile;
//   line-height: heading-line-height($h1-font-size-mobile);

//   @media #{$mq-md} {
//     font-size: $h1-font-size;
//     line-height: heading-line-height($h1-font-size);
//   }
// }

// h2 {
//   font-size: $h2-font-size-mobile;
//   line-height: heading-line-height($h2-font-size-mobile);

//   @media #{$mq-md} {
//     font-size: $h2-font-size;
//     line-height: heading-line-height($h2-font-size);
//   }
// }

// h3 {
//   font-size: $h3-font-size-mobile;
//   line-height: heading-line-height($h3-font-size-mobile);

//   @media #{$mq-md} {
//     font-size: $h3-font-size;
//     line-height: heading-line-height($h3-font-size);
//   }
// }

// h4,
// .heading4 {
//   font-size: $h4-font-size-mobile;
//   line-height: heading-line-height($h4-font-size-mobile);

//   @media #{$mq-md} {
//     font-size: $h4-font-size;
//     line-height: heading-line-height($h4-font-size);
//   }
// }

// h5,
// .heading5 {
//   font-size: $h5-font-size-mobile;
//   line-height: heading-line-height($h5-font-size-mobile);

//   @media #{$mq-md} {
//     font-size: $h5-font-size;
//     line-height: heading-line-height($h5-font-size);
//   }
// }

// h6 {
//   font-size: $h6-font-size;
//   line-height: heading-line-height($h6-font-size);
// }

// .highlight1,
// .highlight2,
// .highlight3 {
//   background-color: $color-white;
//   color: $color-black;
//   font-family: $highlight-font-family;
//   font-weight: 700;

//   &:hover {
//     color: inherit;
//   }
// }

// .highlight1-inverse,
// .highlight2-inverse,
// .highlight3-inverse {
//   background-color: $color-black;
//   color: $color-white;
//   font-family: $highlight-font-family;
//   font-weight: 700;

//   &:hover {
//     color: $color-white;
//   }
// }

// .highlight1,
// .highlight1-inverse {
//   font-size: $highlight1-font-size-mobile;
//   @media #{$mq-md} {
//     font-size: $highlight1-font-size;
//   }
// }

// .highlight2,
// .highlight2-inverse {
//   font-size: $highlight2-font-size-mobile;
//   @media #{$mq-md} {
//     font-size: $highlight2-font-size;
//   }
// }

// .highlight3,
// .highlight3-inverse {
//   font-size: $highlight3-font-size-mobile;
//   @media #{$mq-md} {
//     font-size: $highlight3-font-size;
//   }
// }

// b,
// strong {
//   font-weight: 700;
// }

// p,
// ul,
// ol {
//   margin-bottom: $spacing-md;
//   margin-top: 0;
// }

// .highlight {
//   font-family: 'Zilla Slab Highlight';
//   font-size: $highlight-font-size-mobile;

//   @media #{$mq-md} {
//     font-size: $highlight-font-size;
//   }
// }

// .highlighted {
//   background-color: $color-black;
//   color: $color-white;
// }

// .highlighted-inline {
//   background-color: $color-black;
//   box-decoration-break: clone;
//   box-shadow: 0 0 0 3px $color-black;
//   display: inline;
//   left: 3px;
//   position: relative;
// }
