version: '3.4'

services:
  db:
    env_file: .env
    expose:
      - 5432
    image: postgres:11.3-alpine
    restart: always
    tty: true
    volumes:
      - database:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.app
    depends_on:
      - db
    env_file: .env
    image: mdnwebdocs/developer-portal-app:latest
    ports:
      - "8000:8000"
      - "8080:8080"
    restart: always
    tty: true
    volumes:
      - dist:/app/dist
      - ./media:/app/media
      - ./developerportal:/app/developerportal
      - ./src:/app/src

  static:
    image: mdnwebdocs/developer-portal-static:latest
    build:
      context: .
      dockerfile: ./dockerfiles/Dockerfile.static
    command: npm run watch
    restart: always
    tty: true
    volumes:
      - dist:/app/dist
      - ./src:/app/src

volumes:
  build:
  database:
  dist:
  media:
