Django==2.2.7
celery==4.3.0
redis==3.3.11
kombu==4.6.6  # This is not the latest, but see https://github.com/celery/kombu/issues/1087
django-celery-results==1.1.2
django-redis==4.10.0
gunicorn==19.9.0
meinheld==1.0.1
mozilla-django-oidc==1.2.2
django-storages==1.7.2
boto3==1.10.23
psycopg2==2.8.4
Pygments==2.4.2
readtime==1.1.1
wagtail==2.6.3
wagtail-bakery==0.3.0
whitenoise==4.1.4
urlwait==0.4
newrelic==5.2.3.131
## The following requirements were added by pip freeze:
appdirs==1.4.3
beautifulsoup4==4.6.0
botocore==1.13.25
certifi==2019.9.11
chardet==3.0.4
cssselect==1.1.0
django-bakery==0.12.3
django-countries==5.5
django-modelcluster==4.4
django-taggit==0.24
django-treebeard==4.3
djangorestframework==3.10.3
docutils==0.15.2
draftjs-exporter==2.1.7
fs==2.4.11
greenlet==0.4.15
html5lib==1.0.1
idna==2.8
jmespath==0.9.4
lxml==4.4.1
markdown2==2.3.8
Pillow==6.2.1
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
s3transfer==0.2.1
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.7
webencodings==0.5.1
Willow==1.1
