Django==2.2.8
celery==4.3.0
redis==3.3.11
kombu==4.6.7  # This is not the latest, but see https://github.com/celery/kombu/issues/1087
django-celery-results==1.1.2
django-countries==5.5
django-redis==4.10.0
gunicorn==20.0.4
meinheld==1.0.1
mozilla-django-oidc==1.2.2
django-storages==1.8
boto3==1.10.39
psycopg2==2.8.4
Pygments==2.5.2
raven==6.10.0
readtime==1.1.1
wagtail==2.7
wagtail-bakery==0.3.0
whitenoise==4.1.4
urlwait==0.4
newrelic==5.4.0.132
# Specific versions of dependencies to satisfy clashing requirements:
beautifulsoup4==4.6.0  # from Wagtail 2.7
