Django==2.2.3
gunicorn==19.9.0
meinheld==1.0.1
psycopg2==2.8.3
Pygments==2.4.2
readtime==1.1.1
social-auth-app-django==3.1.0
wagtail==2.5.1
wagtail-bakery==0.3.0
whitenoise==4.1.2
## The following requirements were added by pip freeze:
appdirs==1.4.3
beautifulsoup4==4.6.0
boto3==1.9.182
botocore==1.12.182
certifi==2019.6.16
chardet==3.0.4
cssselect==1.0.3
django-bakery==0.12.3
django-countries==5.3.3
django-modelcluster==4.4
django-taggit==0.24.0
django-treebeard==4.3
djangorestframework==3.9.4
docutils==0.14
draftjs-exporter==2.1.6
fs==2.4.8
greenlet==0.4.15
html5lib==1.0.1
idna==2.8
jmespath==0.9.4
lxml==4.3.4
markdown2==2.3.8
Pillow==5.4.1
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.22.0
s3transfer==0.2.1
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.3
webencodings==0.5.1
Willow==1.1
