{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}content{% endblock %}

{% block content %}
  <main>
    {% if page.hero_image %}
      {% image page.hero_image width-1024 as hero %}
      <section class="section section-background content-hero">
        <div class="content-hero-image" style="background-image: url('{{ hero.url }}')"></div>
        <div class="mzp-l-content content-title">
          <h1 class="highlighted">{{ page.title }}</h1>
        </div>
      </section>
    {% endif %}
    <section class="section">
      <article class="mzp-l-content content-body">
        {% if not page.hero_image %}
        <h1>{{ page.title }}</h1>
        {% endif %}
        {% for block in page.body %}
          {% if block.block_type == 'image' %}
            {% include "molecules/image-block.html" with block=block %}
          {% else %}
            {{ block }}
          {% endif %}
        {% endfor %}
      </article>
    </section>
    {% include "organisms/newsletter-signup.html" %}
  </main>
{% endblock content %}
