{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}content{% endblock %}

{% block content %}

{% include "molecules/header-strip.html" with content=page.title element="h1" %}

<div class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-right content-page">
  <main role="main" class="mzp-l-main custom-width">
    <article>
      {% for block in page.body %}
        {% if block.block_type == 'image' %}
          {% include "molecules/image-block.html" with block=block %}
        {% else %}
          {{ block }}
        {% endif %}
      {% endfor %}
    </article>
  </main>

  <aside class="mzp-l-sidebar custom-width">
    <article>
      {% for block in page.sidebar %}
        {% if block.block_type == 'image' %}
          {% include "molecules/image-block.html" with block=block %}
        {% else %}
          {{ block }}
        {% endif %}
      {% endfor %}
    </article>
  </aside>

</div>

{% include "organisms/newsletter-signup.html" %}
{% endblock content %}
