{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}content{% endblock %}

{% block content %}
  <main>
    <section class="section">
      <h1>{{ page.title }}</h1>
      {% for block in page.body %}
        {% if block.block_type == 'image' %}
          {% image block.value width-672 as rendition %}
          {% include "atoms/image.html" with image=block.value rendition=rendition %}
        {% else %}
          {{ block }}
        {% endif %}
      {% endfor %}
    </section>
    <section id="newsletter" class="section section-full section-background">
      {% include "organisms/newsletter-signup.html" %}
    </section>
  </main>
{% endblock content %}
