{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_filters %}

<div class="article-details">
  {% if authors %}
    <div class="article-details-avatars">
      {% for author in authors|by_key:"value" reversed %}
        {% image author.card_image fill-96x96 as author_image %}
        {% if author.role == "staff" %}
          {% static "img/placeholders/person_16_9.jpg" as fallback_image %}
        {% else %}
          {% static "img/placeholders/person_16_9.jpg" as fallback_image %}
        {% endif %}
        <img src="{% firstof author_image.url fallback_image %}" alt="">
      {% endfor %}
    </div>
  {% endif %}
  <div class="article-details-meta">
    {% if authors %}
      <ul class="article-details-meta-names">
        {% for author in authors|by_key:"value" %}
          <li>
            {% if author.url and not disable_author_links %}
              <a href="{{ author.url }}">
            {% endif %}
            {{ author.title }}
            {% if author.url and not disable_author_links %}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <p>{{ date }}</p>
  </div>
</div>
