{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image resource.image width-480 as image %}
{% image resource.card_image width-480 as card_image %}
{% static "img/placeholders/article.jpg" as fallback_image_url %}

{% if external_page %}
<a href="{{ resource.url }}" class="card-link" data-type="external_page">
{% else %}
<a href="{% pageurl resource %}" class="card-link" data-type="{{ resource.resource_type }}">
{% endif %}
  <div class="card-featured">
    <div class="card-featured-image" style="background-image: url('{% firstof card_image.url image.url fallback_image_url %}')"></div>
    <div class="card-featured-content">
      <span class="highlighted featured">Featured</span>
    </div>
    <div class="card-featured-caption">
      <h5 class="no-underline">{% firstof resource.card_title resource.title %}{% if external_page %}<span class="no-wrap">&#65279;<span class="icon icon-external">{% include "atoms/icons/external.svg" %}</span></span>{% endif %}</h5>
    </div>
  </div>
</a>
