{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if resource.card_image %}
  {% image resource.card_image width-480 as img %}
{% else %}
  {% if resource.image %}
    {% image resource.image width-480 as img %}
  {% else %}
    {% if block_type == "video" %}
      {% static "img/placeholders/post_16_9.jpg" as fallback_image %}
    {% elif block_type == "event" %}
      {% static "img/placeholders/event_16_9.jpg" as fallback_image %}
    {% else %}
      {% static "img/placeholders/post_16_9.jpg" as fallback_image %}
    {% endif %}
  {% endif %}
{% endif %}

{% comment %}
Note that this partial needs wrapping with a div and a section with the appropriate classes
{% endcomment %}
{% if external_page %}
<a href="{{ resource.url }}" class="mzp-c-card-block-link" data-type="external_page" target="_blank" rel="nofollow noopener">
{% else %}
<a href="{% pageurl resource %}" class="mzp-c-card-block-link" data-type="{{ resource.resource_type }}">
{% endif %}
  <div class="mzp-c-card-media-wrapper">
      <div class="lazy-image-container">
        <img class="mzp-c-card-image" src="{% firstof img.url fallback_image %}" alt="">
      </div>
  </div>
  <div class="mzp-c-card-content">
    <div class="mzp-c-card-tag">{{resource.primary_topic|default:"Featured"}}</div>
    <h2 class="mzp-c-card-title">
      <span>
        {% firstof resource.card_title resource.title %}
      </span>
      {% if external_page or resource.is_external %}
      <span class="no-wrap">&#65279;<span class="icon icon-external">
          {% include "atoms/icons/external.svg" %}
      </span></span>
      {% endif %}
    </h2>
    <div class="mzp-c-card-desc">
      {% if resource.card_description %}
        {{ resource.card_description }}
      {% else %}
        {{ resource.description | richtext }}
      {% endif %}
    </div>
  </div>
</a>
