{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if resource.resource_type == "person" %}
  {% image resource.profile_picture width-480 as header_image %}
{% else %}
  {% image resource.header_image width-1024 as header_image %}
{% endif %}

{% if external_page %}
<a href="{{ resource.url }}" class="card-link" data-type="external_page">
{% else %}
<a href="{% pageurl resource %}" class="card-link" data-type="{{ resource.resource_type }}">
{% endif %}
  <div class="card-featured-primary">
    <div class="card-featured-image-wrapper">
      <div class="card-featured-image" style="background-image: url('{{ header_image.url }}')"></div>
    </div>
    <div class="card-featured-primary-body">
      <div class="card-featured-primary-content">
        <span class="featured">Featured</span>
        <div>
          <h4 class="no-underline">{{ resource.title }}</h4>
          <p>{{ resource.intro }}</p>
        </div>
      </div>
    </div>
  </div>
</a>
