{% load app_tags %}

<div class="event-details">
  <div class="event-details-data">
    <div class="event-details-date">
      <span class="icon">
        {% include "atoms/icons/date.svg" %}
      </span>
      <span>{{ resource.start_date }}</span>
      {% if resource.end_date %}
        &ndash; <span>{{ resource.end_date }}</span>
      {% endif %}
    </div>
    <div class="event-details-venue">
      <span class="icon">
        {% include "atoms/icons/location.svg" %}
      </span>
      <address>
        {% make_list resource.address_line_1 resource.address_line_2 resource.address_line_3 resource.city resource.zip_code resource.country as address %}
        {{ address | join:', ' }}
      </address>
    </div>
  </div>
  {% if resource.register_url %}
  <div class="event-details-register">
      <a href="{{ resource.register_url }}" class="mzp-c-button">
      Register now
    </a>
  </div>
  {% endif %}
</div>
