{% load app_tags %}

<div class="event-details">
  <div class="event-details-data">
    <div class="event-details-date">
      <span class="icon">
        {% include "atoms/icons/date.svg" %}
      </span>
      <span>{{ resource.event_dates_full|safe }}</span>
    </div>
    {% make_list_from_args resource.venue_name resource.address_line_1 resource.address_line_2 resource.address_line_3 resource.city resource.zip_code resource.country as address %}
    {% if address %}
    <div class="event-details-venue">
      <span class="icon">
        {% include "atoms/icons/location.svg" %}
      </span>
      <address>
        {{ address | join:', ' }}
      </address>
    </div>
    {% endif %}
  </div>
  {% if resource.register_url %}
  <div class="event-details-register">
      <a href="{{ resource.register_url }}" class="mzp-c-button">
      Register now
    </a>
  </div>
  {% endif %}
</div>
