{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image resource.image width-400 as image %}

<a href="{{ resource.url }}" class="card-link" target="_blank" rel="noopener noreferrer">
  <div class="card external-promo">
    <div class="card-image" style="background-image: url('{{ image.url }}')"></div>
    <div class="external-promo-content">
      <h4 class="highlight2 no-underline">
        {{ resource.title }}
      </h4>
      <p>{{ resource.description }}</p>
    </div>
    {% include "atoms/icons/external.svg" %}
  </div>
</a>
