{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image resource.image width-480 as img %}

<a href="{{ resource.url }}" class="external-promo mzp-c-card-block-link" data-type="external_page" target="_blank" rel="nofollow noopener">
  <div class="mzp-c-card-media-wrapper">
    <div class="lazy-image-container">
      <img class="mzp-c-card-image" src="{{img.url}}" alt="Image for '{{resource.title}}'">
    </div>
  </div>
  <div class="mzp-c-card-content">
    <div class="mzp-c-card-tag">Resource<span>{% include "atoms/icons/external.svg" %}</span></div>
    <h2 class="mzp-c-card-title">
      <span>
        {{resource.title}}
      </span>
    </h2>
    {{ resource.description | richtext }}
  </div>
</a>
