{% load app_tags %}

<form
  class="filter-form js-filter-form"
  data-controls="{{ type }}-cards"
>
  {% if filters|has_at_least_two_filters %}
  <header class="filter-form-section js-filter-form-clear-section">
    <a href="#" class="filter-form-clear js-filter-clear">
      <span class="icon">
        {% include "atoms/icons/close.svg" %}
      </span>
      Clear all
    </a>
  </header>
  {% endif %}

  {% if filters.dates %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5 class="no-underline">Date</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{YEAR_MONTH_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% for date in filters.dates %}
        <label>
          <input type="checkbox" name="{{YEAR_MONTH_QUERYSTRING_KEY}}" value="{{ date|date:'Y-m' }}">
          {{ date|date:'F Y' }}
        </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  {% if filters.roles %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5 class="no-underline">Role</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{ROLE_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% for role in filters.roles %}
        <label>
          {% comment %}
            filters.roles is a tuple of two-tuples defined in constants.ROLE_CHOICES
          {% endcomment %}
          <input type="checkbox" name="{{ROLE_QUERYSTRING_KEY}}" value="{{ role.0 }}">
          {{ role.1 }}
        </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  {% if filters.topics %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5 class="no-underline">Topic</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{TOPIC_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% for topic in filters.topics %}
        <label>
          <input type="checkbox" name="{{TOPIC_QUERYSTRING_KEY}}" value="{{ topic.slug }}">
          {{ topic.title }}
        </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  {% if filters.countries %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5 class="no-underline">Country</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{COUNTRY_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% for country in filters.countries %}
          <label>
            <input type="checkbox" name="{{COUNTRY_QUERYSTRING_KEY}}" value="{{ country.code }}">
            {{ country.name }}
          </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  <div class="filter-form-section filter-form-footer">
    <input class="js-filter-form-submit mzp-c-button mzp-t-small" type="submit" value="Refine results"/>
  </div>
</form>
