{% load app_tags %}

<form
  class="filter-form js-filter-form"
  data-controls="{{ type }}-cards"
  action="{{request.path}}#results-list"
>
  {% if filters|has_at_least_two_filters %}
  <header class="filter-form-section js-filter-form-clear-section">
    <a href="#" class="filter-form-clear js-filter-clear">
      <span class="icon">
        {% include "atoms/icons/close.svg" %}
      </span>
      Clear all
    </a>
  </header>
  {% endif %}

  {% if filters.event_dates.options %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5>Date</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{DATE_PARAMS_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% if not filters.event_dates.options_selected %}
        <div class="filter-form-note">
          Default view: next {{DEFAULT_EVENTS_LOOKAHEAD_WINDOW_MONTHS}} month{{DEFAULT_EVENTS_LOOKAHEAD_WINDOW_MONTHS|pluralize}}
        </div>
      {% endif %}
      {% for option in filters.event_dates.options %}
        <label>
          <input type="checkbox" name="{{DATE_PARAMS_QUERYSTRING_KEY}}" value="{{ option.value }}">
          {{ option.label }}
        </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  {% if filters.roles %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5>Role</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{ROLE_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% for role in filters.roles %}
        <label>
          {% comment %}
            filters.roles is a tuple of two-tuples defined in constants.ROLE_CHOICES
          {% endcomment %}
          <input type="checkbox" name="{{ROLE_QUERYSTRING_KEY}}" value="{{ role.0 }}">
          {{ role.1 }}
        </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  {% if filters.topics %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5>{{TOPICS_TITLE_LABEL}}</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{TOPIC_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% for topic in filters.topics %}
        <label>
          <input type="checkbox" name="{{TOPIC_QUERYSTRING_KEY}}" value="{{ topic.slug }}">
          {{ topic.title }}
        </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  {% if filters.countries %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5>Location</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{LOCATION_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      {% for country in filters.countries %}
          <label>
            <input type="checkbox" name="{{LOCATION_QUERYSTRING_KEY}}" value="{{ country.code }}">
            {{ country.name }}
          </label>
      {% endfor %}
    </fieldset>
  {% endif %}

  {% if filters.show_search_input %}
    <fieldset class="filter-form-section">
      <header class="filter-form-section-header">
        <h5>Search</h5>
        <a href="#" class="filter-form-clear js-filter-clear" data-controls="{{SEARCH_QUERYSTRING_KEY}}">
          <span class="icon">
            {% include "atoms/icons/close.svg" %}
          </span>
          Clear
        </a>
      </header>
      <label for="id_search" class="visually-hidden">
        Search
      </label>
      <input id="id_search" class="filter-form-search js-search-input" name="search" value="" placeholder="Refine with keywords"/>
    </fieldset>
  {% endif %}

  <div class="filter-form-section filter-form-footer">
    <button class="js-filter-form-submit mzp-c-button mzp-t-small" type="submit">Refine results</button>
  </div>
</form>
