{% load app_tags %}
{% load wagtailcore_tags %}

<div class="header-strip">
  <div class="mzp-l-content">
    {% if page.icon %}
      <div class="icon-wrapper">
      {% render_svg page.icon %}
      </div>
    {% elif page_icon_asset_url %}
      <div class="icon-wrapper from-url">
        <img alt="Icon for page entitled '{{page.title}}'" src={{page_icon_asset_url}}>
      </div>
    {% endif %}
    <div class="header-wrapper">
    <{{element}}>
      {{ content }}
    </{{element}}>
    {% if standfirst %}
      <div class="plaintext-standfirst">
        {{standfirst}}
      </div>
    {% else %}
      {{page.description|richtext}}
    {% endif %}
    </div>
  </div>
</div>
