{% load wagtailcore_tags %}
{% load app_tags %}

{% comment %}
`two_column` is an optional param for this template. The default is four columns
{% endcomment %}

<section class="mzp-c-card {{two_column|yesno:'mzp-c-card-medium,mzp-c-card-extra-small'}}">
  <a class="mzp-c-card-block-link" href="{{ topic.url }}">
    <div class="mzp-c-card-content">
      <img src="{% get_menu_item_icon topic %}" class="topic-item-icon" alt="" width="24" height="24">
      <h2 class="mzp-c-card-title"><span>{{ topic.title }}</span></h2>
      {% if topic.card_description %}
        <div class="mzp-c-card-desc">
        {{ topic.card_description }}
        </div>
      {% elif topic.description %}
        <div class="mzp-c-card-desc">
        {{ topic.description | richtext }}
        </div>
      {% endif %}
    </div>
  </a>
</section>
