{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image person.image fill-284x284 as image %}
{% if person.role == "staff" %}
  {% static "img/placeholders/mozillian.jpg" as fallback_image %}
{% else %}
  {% static "img/placeholders/person.jpg" as fallback_image %}
{% endif %}

{% if type == 'speaker' or type == 'person' %}
  <a href="{% pageurl person %}" class="card-link">
{% endif %}
{% if type == 'external_speaker' and person.url %}
  <a href="{{ person.url }}" class="card-link" target="_blank" rel="nofollow noopener">
{% endif %}
    <div class="card-person {% if full_width %}card-full{% endif %}">
      <div>
        <img class="person-image" src="{% firstof image.url fallback_image %}" alt="{{ image.alt }}">
      </div>
      <div class="card-content">
        <div class="person-titles">
          <div class="person-title highlight1">
            {{ person.title }}
          </div>
          <span class="heading5">{{ person.job_title }}</span>
        </div>
        {% if full_width %}
        {{ person.description|richtext }}
        {% endif %}
      </div>
    </div>
{% if person.url %}
  </a>
{% endif %}
