{% load static wagtailimages_tags %}

{% if resource.twitter or resource.github or resource.facebook or resource.linkedin or resource.email or resource.websites %}
  <div class="resource-share">
    <div class="resource-share-buttons person-share-buttons">
      <span class="resource-share-buttons-label">Follow:</span>
      {% if resource.twitter %}
        <a href="http://twitter.com/{{ resource.twitter }}" target="_blank" rel="noopener noreferrer" aria-label="View this person's Twitter page">
          <span class="icon">
            {% include "atoms/icons/twitter.svg" %}
          </span>
        </a>
      {% endif %}
      {% if resource.github %}
        <a href="http://github.com/{{ resource.github }}" target="_blank" rel="noopener noreferrer" aria-label="View this person's GitHub page">
          <span class="icon">
            {% include "atoms/icons/github.svg" %}
          </span>
        </a>
      {% endif %}
      {% if resource.facebook %}
        <a href="https://www.facebook.com/{{ resource.facebook }}" target="_blank" rel="noopener noreferrer" aria-label="View this person's Facebook page">
          <span class="icon">
            {% include "atoms/icons/facebook.svg" %}
          </span>
        </a>
      {% endif %}
      {% if resource.linkedin %}
        <a href="https://www.linkedin.com/in/{{ resource.linkedin }}" target="_blank" rel="noopener noreferrer" aria-label="View this person's LinkedIn page">
          <span class="icon">
            {% include "atoms/icons/linkedin.svg" %}
          </span>
        </a>
      {% endif %}
      {% if resource.email %}
        <a href="mailto:{{ resource.email }}">
          <span class="icon">
            {% include "atoms/icons/email.svg" %}
          </span>
        </a>
      {% endif %}
      {% for block in resource.websites %}
        {% with block.value as website %}
          {% image website.icon fill-24x24 as icon %}
          <a href="{{ website.url}}" target="_blank" rel="noopener noreferrer" aria-label="Visit this person's {{ website.title }} site">
            <span class="icon">
              {% if icon %}
              <img src="{{ icon.url }}" alt="{{ icon.alt }}">
              {% else %}
              <img src="{% static 'img/icons/website.png' %}" alt="website">
              {% endif %}
            </span>
          </a>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endif %}
