{% load static %}
{% load app_filters %}

<div class="related-links">
  <header class="related-links-header">
    <h4 class="no-underline">Related links</h4>
  </header>
  <div class="related-links-links">
    <ul>
      {% for link in links|by_key:"value" %}
        <li>
          <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
            <span class="related-links-link-text">
              {{ link.title }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
