<span class="resource-meta">
  <span class="icon">
    {% if resource.resource_type == "person" %}
      {% include "atoms/icons/mozilla.svg" %}
    {% else %}
      {% include "atoms/icons/reading-time.svg" %}
    {% endif %}
  </span>
  <span class="resource-meta-body">
    {% if resource.resource_type == "article" %}
      {{ resource.read_time }}
    {% elif resource.resource_type == "person" %}
      {{ resource.job_title }}
    {% elif resource.resource_type == "event" %}
      September 10, 2019
    {% endif %}
  </span>
</span>
