<span class="resource-meta">
  <span class="icon">
    {% if resource.resource_type == "person" %}
      {% if resource.role == "staff" %}
        {% include "atoms/icons/mozilla.svg" %}
      {% elif resource.role == "tech-speaker" %}
        {% include "atoms/icons/tech-speaker.svg" %}
      {% elif resource.role == "community" %}
        {% include "atoms/icons/person.svg" %}
      {% endif %}
    {% elif resource.resource_type == "video" %}
      {% include "atoms/icons/video.svg" %}
    {% else %}
      {% include "atoms/icons/reading-time.svg" %}
    {% endif %}
  </span>
  <span class="resource-meta-body">
    {% if resource.resource_type == "article" %}
      {{ resource.read_time }}
    {% elif resource.resource_type == "person" %}
      {{ resource.get_role_display }}
    {% elif resource.resource_type == "video" and resource.duration %}
      {{ resource.duration }}
    {% endif %}
  </span>
</span>
