{% load wagtailcore_tags %}
{% wagtail_site as current_site %}

<div class="resource-share">
  <div class="resource-share-buttons">
    <span class="resource-share-buttons-label">Share:</span>
    {% with url_root=current_site.root_url %}
      <a href="http://twitter.com/share?url={{ url_root }}{{ request.path }}" target="_blank" rel="nofollow noopener noreferrer" aria-label="Share this page on Twitter">
        <span class="icon">
          {% include "atoms/icons/twitter.svg" %}
        </span>
      </a>
      <a href="https://www.facebook.com/sharer.php?u={{ url_root }}{{ request.path }}" target="_blank" rel="nofollow noopener noreferrer" aria-label="Share this page on Facebook">
        <span class="icon">
          {% include "atoms/icons/facebook.svg" %}
        </span>
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url_root }}{{ request.path }}" target="_blank" rel="nofollow noopener noreferrer" aria-label="Share this page on LinkedIn">
        <span class="icon">
          {% include "atoms/icons/linkedin.svg" %}
        </span>
      </a>
      <a href="mailto:?body=Check%20out%20this%20page%20from%20Mozilla's%20Developer%20Portal:%20{{ url_root }}{{ request.path }}">
        <span class="icon">
          {% include "atoms/icons/email.svg" %}
        </span>
      </a>
    {% endwith %}
  </div>
</div>
