<span class="resource-meta">
  <span class="icon">
    {% if resource.resource_type == "person" %}
      {% if resource.role == "staff" %}
        {% include "atoms/icons/mozilla.svg" %}
      {% elif resource.role == "tech-speaker" %}
        {% include "atoms/icons/tech-speaker.svg" %}
      {% elif resource.role == "guest" or resource.role == "contributor" %}
        {% include "atoms/icons/person.svg" %}
      {% endif %}
    {% else %}
      {% include "atoms/icons/reading-time.svg" %}
    {% endif %}
  </span>
  <span class="resource-meta-body">
    {% if resource.resource_type == "article" %}
      {{ resource.read_time }}
    {% elif resource.resource_type == "person" %}
      {{ resource.job_title }}
    {% endif %}
  </span>
</span>
