{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}topics{% endblock %}

{% block header %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
  <main>
    {% if topics %}
      <ul>
        {% for topic in topics %}
          <li>
            <a href="{% pageurl topic %}">
              {{ topic.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p> There are no topics </p>
    {% endif %}
  </main>
{% endblock content %}
