{% extends "base.html" %}
{% load static %}
{% load app_filters %}
{% load wagtailcore_tags %}

{% block body_class %}topic{% endblock %}

{% block header %}
  {% include "header.html" %}
  {% include "utils/accent-color.html" with color=page.color_value %}
{% endblock %}

{% block content %}
<main class="has-header">
  <div class="base-grid">
    <section class="section-full">
      {% include "organisms/pattern-bg-header.html" with title=page.title intro=page.intro icon="mixed-reality" %}
    </section>
    {% if page.featured_articles.all %}
      <section>
        {% include "organisms/featured.html" with featured=page.featured %}
      </section>
    {% endif %}
    <section class="section-full get-started-full">
      {% include "organisms/get-started.html" %}
    </section>
    {% with subtopics=self.get_children.specific %}
      {% if subtopics %}
        <section class="section-full">
          {% include "organisms/topic-links.html" with topics=subtopics pagetheme="topic" %}
        </section>
      {% endif %}
    {% endwith %}
    {% if page.articles.all %}
      <section>
        <div class="section-header">
          <h2>Latest news</h2>
          <a href="">See more</a>
        </div>
        <div class="card-container">
          {% for article in page.articles.all|slice:":3" %}
            {% include "molecules/cards/card.html" with resource=article show_author=True %}
          {% endfor %}
        </div>
      </section>
    {% endif %}
    <section>
      <div class="section-header">
        <h2>Meet the Mozillians</h2>
        <a href="">See more</a>
      </div>
      <div class="card-container">
        {% for person in page.people.all|slice:":3" %}
          {% include "molecules/item-mozillian.html" with person=person.person %}
        {% endfor %}
      </div>
    </section>
    <section>
      <div class="section-header">
        <h2>Upcoming events</h2>
        <a href="">See more</a>
      </div>
      <div class="card-container">
        {% for i in 3|times %}
          {% include "molecules/cards/card.html" with type="event" %}
        {% endfor %}
      </div>
    </section>
    <section>
      {% include "organisms/newsletter-signup.html" %}
    </section>
  </div>
</main>
{% endblock content %}
