{% extends "base.html" %}
{% load static %}
{% load app_filters %}
{% load wagtailcore_tags %}

{% block body_class %}topic{% endblock %}

{% block header %}
  {% include "header.html" %}
  {% include "utils/accent-color.html" with color=page.color_value %}
{% endblock %}

{% block content %}
<main class="has-header">
  <div class="base-grid">
    <section class="section-full">
      {% include "organisms/pattern-bg-header.html" with title=page.title description=page.description icon=page.icon %}
    </section>
    {% if page.featured %}
      <section>
        {% include "organisms/featured.html" with featured=page.featured featured_count=page.featured|length %}
      </section>
    {% endif %}
    {% if page.tabbed_panels %}
      <section class="section-full section-background section-full-bg">
        {% include "organisms/tabbed-panels.html" with title=page.tabbed_panels_title resources=page.tabbed_panels %}
      </section>
    {% endif %}
    {% with subtopics=self.subtopics %}
      {% if subtopics %}
        <section class="section-full">
          {% include "organisms/topic-links.html" with topics=subtopics pagetheme="topic" %}
        </section>
      {% endif %}
    {% endwith %}
    {% if page.articles %}
      <section>
        <div class="section-header">
          <h2>Latest articles</h2>
          <a href="/articles?topics={{ page.slug }}">See more</a>
        </div>
        {% if page.articles|length == 1 %}
          {# a single article is rendered full width #}
          <div>
            {% with page.articles.all.0 as article %}
              {% include "molecules/cards/card.html" with resource=article show_author=True full_width=True %}
            {% endwith %}
          </div>
        {% else %}
          {# 2 or 3 are rendered side-by-side #}
          <div class="card-container {% if page.articles|length == 2 %}card-container-2-wide{% endif %}">
            {% for article in page.articles|slice:":3" %}
              {% include "molecules/cards/card.html" with resource=article show_author=True %}
            {% endfor %}
          </div>
        {% endif %}
      </section>
    {% endif %}
    {% if page.people.all %}
    <section>
      <div class="section-header">
        <h2>People</h2>
        <a href="/people?topics={{ page.slug }}">See more</a>
      </div>
      {% if page.people.count == 1 %}
        {# a single person is rendered full width #}
        <div>
          {% with page.people.all.0 as person %}
            {% include "molecules/item-person.html" with person=person.person type="person" full_width=True%}
          {% endwith %}
        </div>
      {% else %}
        {# 2 or 3 are rendered side-by-side #}
        <div class="card-container {% if page.people.count == 2 %}card-container-2-wide{% endif %}">
          {% for person in page.people.all|slice:":3" %}
            {% include "molecules/item-person.html" with person=person.person type="person" full_width=False%}
          {% endfor %}
        </div>
        </div>
      {% endif %}
    </section>
    {% endif %}
    {% if page.events.all %}
      {% include "organisms/upcoming-events.html" with events=page.events.all topic=page.slug %}
    {% endif %}
    <section id="newsletter" class="section-full section-background">
      {% include "organisms/newsletter-signup.html" %}
    </section>
  </div>
</main>
{% endblock content %}
