          env:
            - name: AWS_BUCKET_NAME
              value: "{{ APP_AWS_BUCKET_NAME }}"
            - name: AWS_REGION
              value: "{{ APP_AWS_BUCKET_REGION }}"
            - name: AWS_STORAGE_BUCKET_NAME
              value: "{{ APP_AWS_STORAGE_BUCKET_NAME }}"
            - name: BASE_URL
              value: "{{ APP_BASE_URL }}"
            - name: EXPORTED_SITE_URL
              value: "{{ APP_EXPORTED_SITE_URL }}"
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: DJANGO_SECRET_KEY
            - name: DJANGO_SETTINGS_MODULE
              value: "{{ DJANGO_SETTINGS_MODULE }}"
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: AWS_SECRET_ACCESS_KEY
            - name: POSTGRES_DB
              value: "developer_portal"
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: POSTGRES_HOST
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_USER
              value: "root"
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: GOOGLE_ANALYTICS
              value: "{{ GOOGLE_ANALYTICS }}"
            - name: MAPBOX_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: MAPBOX_ACCESS_TOKEN
            - name: EMAIL_HOST
              value: "{{ APP_EMAIL_HOST }}"
            - name: EMAIL_PORT
              value: "{{ APP_EMAIL_PORT }}"
            - name: EMAIL_USE_TLS
              value: "{{ APP_EMAIL_USE_TLS }}"
            - name: SECURE_HSTS_SECONDS
              value: "{{ APP_SECURE_HSTS_SECONDS }}"
            - name: AUTOMATICALLY_INGEST_CONTENT
              value: "{{ APP_AUTOMATICALLY_INGEST_CONTENT }}"
            - name: NOTIFY_AFTER_INGESTING_CONTENT
              value: "{{ APP_NOTIFY_AFTER_INGESTING_CONTENT }}"
            - name: TASK_COMPLETION_SURVEY_URL
              value: "{{ APP_TASK_COMPLETION_SURVEY_URL }}"
            - name: DEFAULT_FROM_EMAIL
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: SES_FROM_ADDRESS
            - name: EMAIL_HOST_USER
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: SES_USER
            - name: EMAIL_HOST_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: SES_PASSWORD
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: REDIS_URL
            - name: AWS_CLOUDFRONT_DISTRIBUTION_ID
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: CLOUDFRONT_DISTRIBUTION_ID
            - name: NEW_RELIC_LICENSE_KEY
              valueFrom:
                secretKeyRef:
                  name: newrelic-secrets
                  key: NEW_RELIC_LICENSE_KEY
            - name: NEW_RELIC_APP_NAME
              value: "{{ NEW_RELIC_APP_NAME }}"
            - name: NEW_RELIC_CONFIG_FILE
              value: "{{ NEW_RELIC_CONFIG_FILE }}"
            - name: NEW_RELIC_LABELS
              value: "{{ NEW_RELIC_LABELS }}"
            - name: NEW_RELIC_MONITOR_MODE
              value: "{{ NEW_RELIC_MONITOR_MODE }}"
            - name: OIDC_RP_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: OIDC_RP_CLIENT_ID
            - name: OIDC_RP_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: OIDC_RP_CLIENT_SECRET
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: SENTRY_DSN
            - name: ACTIVE_ENVIRONMENT
              value: "{{ ACTIVE_ENVIRONMENT }}"
