apiVersion: batch/v1
kind: Job
metadata:
  name: dev-portal-efs-setup
spec:
  template:
    metadata:
      name: dev-portal-efs-setup
    spec:
      containers:
        - name: dev-portal-efs-setup
          image: debian
          command: [ "/bin/bash", "-c", "mkdir -p /app/media && chown -R 1000:1000 /app/media && chown 1000:1000 /app/media" ]
          volumeMounts:
            - name: developer-portal-fs
              mountPath: {{ APP_MOUNT_PATH }}
      restartPolicy: Never
      volumes:
        - name: developer-portal-fs
          persistentVolumeClaim:
            claimName: {{ APP_PVC_NAME }}
