kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ APP_PV_NAME }}
spec:
  capacity:
    storage: {{ APP_PV_SIZE }}
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: {{ APP_PV_RECLAIM_POLICY }}
  nfs:
    path: {{ APP_PV_MOUNT_PATH }}
    server: {{ APP_PV_ARN }}
  storageClassName: {{ APP_PV_STORAGE_CLASS_NAME }}
