          env:
            - name: BASE_URL
              value: "{{ APP_BASE_URL }}"
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: DJANGO_SECRET_KEY
            - name: DJANGO_SETTINGS_MODULE
              value: "developerportal.settings.production"
            - name: POSTGRES_DB
              value: "developer_portal"
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: POSTGRES_HOST
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dev-portal-secrets
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_USER
              value: "root"
            - name: PYTHONUNBUFFERED
              value: "1"
