kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ CELERY_WORKER_NAME }}
spec:
  replicas: {{ CELERY_WORKER_REPLICAS }}
  selector:
    matchLabels:
      app: {{ CELERY_WORKER_NAME }}
  template:
    metadata:
      labels:
        app: {{ CELERY_WORKER_NAME }}
    spec:
      containers:
        - name: {{ CELERY_WORKER_NAME }}
          image: "{{ APP_IMAGE }}:{{ APP_IMAGE_TAG }}"
          imagePullPolicy: {{ APP_IMAGE_PULL_POLICY }}
          command:
            - "celery"
          args:
            - "--app=developerportal.apps.staticbuild"
            - worker
            - "--loglevel=INFO"
            - "--concurrency={{ CELERY_WORKER_CONCURRENCY }}"
          resources:
            requests:
              cpu: {{ CELERY_WORKER_CPU_REQUEST }}
              memory: {{ CELERY_WORKER_MEMORY_REQUEST }}
            limits:
              cpu: {{ CELERY_WORKER_CPU_LIMIT }}
              memory: {{ CELERY_WORKER_MEMORY_LIMIT }}
{% include 'app.env.yaml.j2' %}
            # Ensure we have the right settings available for the worker
            # (the indentation here is the right depth to be in the `env:` key)
            - name: DJANGO_SETTINGS_MODULE
              value: "developerportal.settings.worker"
