apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ RDS_BACKUP_NAME }}
  labels:
    app: {{ RDS_BACKUP_NAME }}
  annotations:
    eks.amazonaws.com/role-arn: {{ RDS_BACKUP_ROLE_ARN }}
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ RDS_BACKUP_NAME }}
  labels:
    app: {{ RDS_BACKUP_NAME }}
spec:
  schedule: "@daily"
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 3
  successfulJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          serviceAccountName: {{ RDS_BACKUP_NAME }}
          containers:
            - name: {{ RDS_BACKUP_NAME }}
              image: {{ RDS_BACKUP_IMAGE }}:{{ RDS_BACKUP_IMAGE_TAG }}
              imagePullPolicy: IfNotPresent
              {%- if RDS_BACKUP_DEBUG_MODE == 'true' %}
              command: [ "/bin/bash", "-c", "--" ]
              args: [ "while true; do sleep 30; done;" ]
              {%- endif %}
              env:
                - name: DBTYPE
                  value: {{ RDS_BACKUP_DBTYPE }}
                - name: BACKUP_DIR
                  value: {{ RDS_BACKUP_DIR }}
                - name: BACKUP_BUCKET
                  value: {{ RDS_BACKUP_BUCKET }}
                - name: BACKUP_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: dev-portal-backups
                      key: BACKUP_PASSWORD
                - name: DBHOST
                  valueFrom:
                    secretKeyRef:
                      name: dev-portal-backups
                      key: DBHOST
                - name: DBNAME
                  valueFrom:
                    secretKeyRef:
                      name: dev-portal-backups
                      key: DBNAME
                - name: DBPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: dev-portal-backups
                      key: DBPASSWORD
                - name: DBPORT
                  valueFrom:
                    secretKeyRef:
                      name: dev-portal-backups
                      key: DBPORT
                - name: DBUSER
                  valueFrom:
                    secretKeyRef:
                      name: dev-portal-backups
                      key: DBUSER
                - name: DEADMANSSNITCH_URL
                  valueFrom:
                    secretKeyRef:
                      name: dev-portal-backups
                      key: DEADMANSSNITCH_URL
