{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_tags %}

<meta property="og:title" content="{{ page.title }}">
{% with page.description|richtext|striptags as rich_description %}
  {% firstof page.search_description page.card_description rich_description fallback_description as description %}
  {% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
  {% endif %}
{% endwith %}

{% if page.keywords.all %}
  <meta name="keywords" content="{{ page.keywords.all|join:', ' }}">
{% endif %}

{% with self.get_site.site_name as site_name %}
  {% if site_name %}
    <meta property="og:site_name" content="{{ site_name }}">
  {% endif %}
{% endwith %}

{% get_scheme_and_host request as base_url %}
{% static "img/placeholders/article.jpg" as fallback_image_url %}
{% with fallback_image_width="960" fallback_image_height="720" %}
  {% if page.social_image %}
    {% image page.social_image width-1200 as image %}
  {% elif page.card_image %}
    {% image page.card_image width-1200 as image %}
  {% elif page.image %}
    {% image page.image width-1200 as image %}
  {% endif %}
  {% if not image %}
    {# Fallback images are hosted by Django, so need absolute URLs creating #}
    <meta property="og:image" content="{{base_url}}{{fallback_image_url|filename_cachebreaker_to_querystring}}">
  {% else %}
    {% comment %}
      There's no need to add the base URL if the image file exists as it's externally
      hosted in production, so image.url is absolute.
      Note: in local dev, if you use local file storage (not S3) the OG tags will
      have relative URLs - but that hopefully shouldn't be a real problem.
    {% endcomment %}
    <meta property="og:image" content="{{ image.url|filename_cachebreaker_to_querystring }}">
  {% endif %}
  <meta property="og:image:width" content="{% firstof image.width fallback_image_width %}">
  <meta property="og:image:height" content="{% firstof image.height fallback_image_height %}">
{% endwith %}

<meta property="og:url" content="{{ base_url }}{% pageurl page %}">
<meta name="twitter:card" content="summary_large_image">
