{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_tags %}

<meta property="og:title" content="{{ page.title }}">
{% with page.description|richtext|striptags as rich_description %}
  {% firstof page.search_description page.card_description rich_description as description %}
  {% if description %}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">
  {% endif %}
{% endwith %}

{% if page.keywords.all %}
  <meta name="keywords" content="{{ page.keywords.all|join:', ' }}">
{% endif %}

{% with self.get_site.site_name as site_name %}
  {% if site_name %}
    <meta property="og:site_name" content="{{ site_name }}">
  {% endif %}
{% endwith %}

{% get_scheme_and_host request as base_url %}
{% static "img/placeholders/article.jpg" as fallback_image_url %}
{% if page.card_image %}
  {% image page.card_image width-1200 as image %}
{% elif page.image %}
  {% image page.image width-1200 as image %}
{% endif %}
<meta property="og:image" content="{{ base_url }}{% if image %}{{ image.url }}{% else %}{{ fallback_image_url }}{% endif %}">
<meta property="og:image:width" content="{% if image %}{{ image.width }}{% else %}960{% endif %}">
<meta property="og:image:height" content="{% if image %}{{ image.height }}{% else %}720{% endif %}">

<meta property="og:url" content="{{ base_url }}{% pageurl page %}">
<meta name="twitter:card" content="summary_large_image">
