{% load wagtailcore_tags %}
{% load app_tags %}
{% load staticfiles %}

<div class="topic-icon">
  <div class="topic-icon-image">
    {% if icon %}
      {% render_svg icon %}
    {% else %}
      {% include 'molecules/icons/topic-default.svg' %}
    {% endif %}
  </div>
  <svg class="topic-icon-tile" width="88px" height="88px" viewBox="0 0 88 88" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect stroke-width="2" fill="#000000" x="9" y="9" width="78" height="78"></rect>
    <rect x="0" y="0" width="80" height="80"></rect>
  </svg>
</div>
