{% extends "base.html" %}

{% block body_class %}events{% endblock %}

{% block header %}
  {{ block.super }}
  {% include "utils/accent-color.html" with color='#ffd567' %}
{% endblock %}

{% block content %}
  <main>
    {% if page.events %}
      <section class="section section-pattern">
        <div class="container">
          <div class="section-header">
            <h2>Events</h2>
            {% for featured_item in page.featured %}
              {% with featured_item.value.specific as event %}
                {% include "molecules/cards/card.html" with resource=event featured=True %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>
        {% include "organisms/filter-list.html" with type="event" resources=page.events initial_resources=6 resources_per_page=4 %}
      </section>
    {% endif %}
    {% include "organisms/newsletter-signup.html" %}
  </main>
{% endblock content %}
