{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_tags %}

{% block body_class %}event{% endblock %}

{% block content %}

{% static "img/icons/events-white.svg" as page_icon_asset_url %}

{% comment %}
We only set safe_label_markup if we want to show the label, but its absence does not break the render
{% endcomment %}
{% if page.is_mozilla_supported_event %}
  {% get_label_html page.support_summary_for_label as safe_label_markup %}
{% endif %}
{% include "molecules/header-strip.html" with page_icon_asset_url=page_icon_asset_url icon_img_class="events-icon" page=page content=page.title element="h1" standfirst=page.summary_meta safe_custom_html=safe_label_markup %}

<div class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-right content-page">
  <main role="main" class="mzp-l-main custom-width">

      {{page.description|richtext}}

      {% if page.description and page.body %} <hr> {% endif %}

      {% for block in page.body %}
        {% if block.block_type == 'image' %}
          {% include "molecules/image-block.html" with block=block %}
        {% else %}
          {{ block }}
        {% endif %}
      {% endfor %}

      <div class="outbound-links">
        <ul>
        {% if page.register_url %}
          <li>
            <a href="{{page.register_url}}" class="mzp-c-button">
              Register
            </a>
          </li>
        {% endif %}
        {% if page.official_website %}
          <li>
            <a href="{{page.official_website}}" class="mzp-c-button">
              Official Website
            </a>
          </li>
        {% endif %}
        {% if page.event_content %}
          <li>
            <a href="{{page.event_content}}" class="mzp-c-button">
              Event Content
            </a>
          </li>
        {% endif %}
        </ul>

        {% include "molecules/resource-share.html" %}
      </div>

  </main>

  <aside class="mzp-l-sidebar custom-width">

    {% comment %}
      specific_link will fall back to None if these are not set and card-event.html
      is ready for this because normally it just uses {% pageurl page %}
    {% endcomment %}

    {% firstof page.event_content page.official_website page.register_url as specific_link %}
    {% include "molecules/cards/card-event.html" with resource=page no_link=True specific_link=specific_link %}

  </aside>
</div>

  {% include "organisms/newsletter-signup.html" %}

{% endblock content %}
