{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image resource.image width-1024 as image %}

<a href="{% pageurl resource %}" class="card-link {% if filter_target %}js-filter-target{% endif %}" data-type="{{ resource.resource_type }}"
  {% if filter_target %}
    data-topics="{% for topic in resource.topics.all %}{{ topic.topic.slug }} {% endfor %}"
    data-month="{{ resource.month_group|date:'Y-m' }}"
  {% endif %}
>
  <div class="card card-event">
    {% if index == 1 %}
      <div class="card-image card-event-image" style="background-image: url('{{ image.url }}')"></div>
    {% endif %}
    <div class="card-content card-event-content">
      <h4 class="no-underline">{{ resource.title }}</h4>
      <p>{{ resource.description }}</p>
      <div>
        <span class="icon">
          {% include "atoms/icons/date.svg" %}
        </span>
        <span>
          {{ resource.start_date }}
        </span>
        <span class="icon">
          {% include "atoms/icons/location.svg" %}
        </span>
        <address>
          {{ resource.venue }}
        </address>
      </div>
    </div>
  </div>
</a>
