{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image resource.image width-1024 as image %}

<a href="{% pageurl resource %}" class="card-link {% if filter_target %}js-filter-target{% endif %}" data-type="{{ resource.resource_type }}"
  {% if filter_target %}
    data-topics="{% for topic in resource.topics.all %}{{ topic.topic.slug }} {% endfor %}"
    data-month="{{ resource.month_group|date:'Y-m' }}"
  {% endif %}
>
  <div class="card card-event">
    <div class="card-event-ribbon-container">
      <div class="card-event-ribbon background-accent">
        <span class="highlight2">{{ resource.event_dates|safe }}</span>
      </div>
    </div>
    {% if featured %}
    <div class="card-image card-event-image" style="background-image: url('{{ image.url }}')"></div>
    {% endif %}
    <div class="card-event-content {% if featured %}card-event-featured{% endif %}">
      <div class="card-event-title">
        <h4 class="no-underline">{{ resource.title }}</h4>
        {% if featured %}
        <p>{{ resource.description }}</p>
        {% endif %}
      </div>
      <div class="card-event-details">
        <div class="card-event-date">
          <span class="icon">{% include "atoms/icons/date.svg" %}</span>
          <span>{{ resource.event_dates_full|safe }}</span>
        </div>
        {% if resource.city %}
          <div class="card-event-location">
            <span class="icon">{% include "atoms/icons/location.svg" %}</span>
            <address>
              {{ resource.city }}{% if resource.country %}, {{ resource.country}}{% endif %}
            </address>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</a>
