{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image resource.image width-636 as image %}
{% image resource.card_image width-636 as card_image %}

<a
  href="{% pageurl resource %}"
  class="card-link {% if filter_target %}js-filter-target{% endif %}"
  {% if resource.is_external %}
    target="_blank"
    rel="noopener noreferrer"
  {% endif %}
  data-type="{{ resource.resource_type }}"
  {% if filter_target %}
    data-topics="{% for topic in resource.topics.all %}{{ topic.topic.slug }} {% endfor %}"
    data-month="{{ resource.month_group|date:'Y-m' }}"
    hidden
  {% endif %}
>
  <div class="card {% if full_width %}card-full{% endif %}">
    <div class="card-image" style="background-image: url('{% firstof card_image.url image.url %}')"></div>
    <div class="card-content">
      <div class="card-content-main">
        {% include "molecules/resource-meta.html" with resource=resource %}
        <h4 class="no-underline">
          {% firstof resource.card_title resource.title %}{% if resource.is_external %}<span class="no-wrap">&#65279;<span class="icon icon-external">{% include "atoms/icons/external.svg" %}</span></span>{% endif %}
        </h4>
        {% if full_width %}
          <p>{{ resource.description }}</p>
        {% endif %}
      </div>
      {% if show_author %}
        {% for block in resource.authors %}
          {% with block.value as author %}
            {% include "molecules/article-details.html" with date=resource.date author=author enable_link=False %}
          {% endwith %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</a>
