{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image resource.header_image width-636 as header_image %}

<a href="{% pageurl resource %}" class="card-link {% if filter_target %}js-filter-target{% endif %}" data-type="{{ resource.resource_type }}"
  {% if filter_target %}
    data-date=""
  {% endif %}
>
  <div class="card">
    <div class="card-image" style="background-image: url('{{ header_image.url }}')"></div>
    <div class="card-content">
      <div class="card-content-main">
        {% include "molecules/resource-meta.html" with resource=resource %}
        <h4 class="no-underline">{{ resource.title }}</h4>
      </div>
      {% if show_author %}
        {% for author in resource.authors.all %}
          {% include "molecules/article-details.html" with date=resource.date author=author.author %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</a>
