{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% image resource.profile_picture width-636 as header_image %}

<a href="{% pageurl resource %}" class="card-link {% if filter_target %}js-filter-target{% endif %}" data-type="{{ resource.resource_type }}"
  {% if filter_target %}
    {% if resource.is_mozillian %}data-is-mozillian{% endif %}
    data-first-name="{{ resource.first_name }}"
    data-last-name="{{ resource.last_name }}"
    data-initial-group="{{ resource.initial_group.start }}"
    data-job-title="{{ resource.job_title }}"
    data-topics="{% for topic in resource.topics.all %}{{ topic.topic.slug }} {% endfor %}"
  {% endif %}
>
  <div class="card">
    <div class="card-image card-image-square" style="background-image: url('{{ header_image.url }}')"></div>
    <div class="card-content">
      <div class="card-content-main">
        {% include "molecules/resource-meta.html" with resource=resource %}
        <h4 class="no-underline">{{ resource.title }}</h4>
      </div>
    </div>
  </div>
</a>
