{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image person.image fill-375x210 as img %}

{% if person.role == "staff" %}
  {% static "img/placeholders/mozillian-16-9.jpg" as fallback_url %}
{% else %}
  {% static "img/placeholders/person-16-9.jpg" as fallback_url %}
{% endif %}

<section class="mzp-c-card mzp-c-card-medium mzp-has-aspect-16-9">
  {% if type == 'speaker' or type == 'person' %}
    <a href="{% pageurl person %}" class="mzp-c-card-block-link" data-type="{{ resource.resource_type }}">
  {% endif %}
  {% if type == 'external_speaker' and person.url %}
    <a href="{{ person.url }}" class="mzp-c-card-block-link" data-type="{{ resource.resource_type }}" target="_blank" rel="nofollow noreferrer noopener">
  {% endif %}
      <div class="mzp-c-card-media-wrapper">
        <img class="mzp-c-card-image" src="{% firstof img.url fallback_url %}" alt="">
      </div>
      <div class="mzp-c-card-content">
        <div class="mzp-c-card-tag">{{person.get_role_display}}</div>
        <h2 class="mzp-c-card-title">
          <span>
            {{ person.title }}
          </span>
        </h2>
        <div class="mzp-c-card-desc">
          {{ person.job_title }}
        </div>
      </div>
    </a>
</section>
