{% load wagtailcore_tags %}

<a href="#" class="card-link {% if filter_target %}js-filter-target{% endif %}" data-type="{{ resource.resource_type }}"
  {% if filter_target %}
    data-topics="{% for topic in resource.topics.all %}{{ topic.topic.slug }} {% endfor %}"
    data-month="{{ resource.month_group|date:'Y-m' }}"
  {% endif %}
>
  <div class="card">
    <div class="card-image" style="background-image: url('https://via.placeholder.com/246')"></div>
    <div class="card-content">
      <div class="card-content-main">
        <!-- {% include "molecules/resource-meta.html" with resource=resource %} -->
        <h4 class="no-underline">Event title</h4>
        <span>June 11, 2019 | Event location</span>
      </div>
    </div>
  </div>
</a>
