{% load app_tags %}
{% comment %}

Render between TWO and FIVE featured items in an adaptive layout

Five items:
[ 1 ] [ 2 ]
[3] [4] [5]

Four items:
[ 1 ] [ 2 ]
[ 3 ] [ 4 ]

Three items:
[1] [2] [3]

Two items:
[ 1 ] [ 2 ]

{% endcomment %}

{% split_featured_items featured as split_featured %}

{% comment %}
`split_featured` is an iterable with the following lists:
  - top_row_of_2
  - bottom_row_of_3
  - bottom_row_b_of_2
where only one of bottom_row_of_3 OR bottom_row_b_of_2 will have members
{% endcomment %}

{% with top_row_of_two=split_featured.0 bottom_row_of_three=split_featured.1 bottom_row_of_two=split_featured.2 %}

  {% if top_row_of_two %}
  <div class="mzp-l-card-half">
    {% for block in top_row_of_two %}
      <section class="mzp-c-card mzp-c-card-medium mzp-has-aspect-3-2">
        {% include "organisms/partials/featured-card-selector.html" with aspect_ratio="3_2" %}
      </section>
    {% endfor %}
  </div>
  {% endif %}

  {% comment %} Only one of bottom_row_of_two or bottom_row_of_three will evaluate to truthy {% endcomment %}
  {% if bottom_row_of_two %}
    <div class="mzp-l-card-half">
      {% for block in bottom_row_of_two %}
        <section class="mzp-c-card mzp-c-card-medium mzp-has-aspect-3-2">
          {% include "organisms/partials/featured-card-selector.html" %}
        </section>
      {% endfor %}
    </div>
  {% elif bottom_row_of_three %}
    <div class="mzp-l-card-third">
      {% for block in bottom_row_of_three %}
          <section class="mzp-c-card mzp-c-card-small mzp-has-aspect-16-9">
            {% include "organisms/partials/featured-card-selector.html" %}
          </section>
      {% endfor %}
    </div>
  {% endif %}

{% endwith %}
