        {% if block.block_type == 'post' or block.block_type == 'event' or block.block_type == 'video' %}
          {% with block.value as page %}
            {% include "molecules/card-featured.html" with resource=page.specific block_type=block.block_type %}
          {% endwith %}
        {% elif block.block_type == 'external_page' %}
          {% with block.value as external_page %}
            {% include "molecules/card-featured.html" with resource=external_page external_page=True block_type=block.block_type %}
          {% endwith %}
        {% endif %}
