.article-header {
  background: $color-gray-10;
  grid-column: full;
  margin-bottom: 80px;
  padding: $grid-gap-mobile $grid-gap-mobile 0;

  @media #{$mq-md} {
    padding: 0 $grid-gap-mobile 0;
  }
}

.article-header-container {
  display: flex;
  flex-direction: column-reverse;

  @media #{$mq-md} {
    flex-direction: row-reverse;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
}

.article-header-details,
.article-header-image {
  @media #{$mq-md} {
    align-self: center;
    width: 50%;
  }
}

.article-header-details {
  padding-top: $grid-gap-mobile;

  @media #{$mq-md} {
    padding: 96px $grid-gap 64px 0;
  }
}

.article-header-image {
  padding: 28px 16px;
  position: relative;
  margin: 32px 0 0;

  @media #{$mq-md} {
    margin: 96px 0 32px;
    position: static;
  }

  img {
    max-width: 100%;
    position: relative;
    z-index: 99;
  }
}

.article-header-highlight {
  margin-bottom: 16px;
}

.article-header-subtitle {
  color: $color-gray-70;
  font-size: 18px;
}

.article-header-pattern {
  background-color: $color-black;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;

  @media #{$mq-md} {
    width: 320px;
  }

  .pattern::before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
}
