.article-header {
  background: $color-gray-10;
  display: flex;
  padding: 0;

  @media #{$mq-md} {
    min-height: 430px;
  }

  .container {
    display: flex;
    flex-grow: 1;
  }

  .article-details {
    margin-top: 24px;
  }
}

.article-header-container {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.article-header-expand {
  display: flex;
  flex-direction: column-reverse;
  padding: 24px 0;
  width: 100%;

  @media #{$mq-md} {
    flex-direction: row-reverse;
    padding: 0;
  }
}

.article-header-details,
.article-header-image {
  @media #{$mq-md} {
    align-self: center;
    padding: 40px 32px 40px 0;
    width: 50%;
  }
}

.article-header-image {
  margin-top: 24px;
  position: relative;
  text-align: center;

  @media #{$mq-md} {
    margin-top: 0;
    position: static;
    text-align: right;
  }

  img {
    max-width: 400px;
    position: relative;
    width: 100%;
    z-index: 99;

    @media #{$mq-md} {
      max-width: 100%;
    }
  }
}

.article-header-highlight {
  margin-bottom: 16px;
}

.article-header-subtitle {
  font-size: 16px;

  @media #{$mq-md} {
    font-size: 18px;
  }

  p {
    margin-bottom: 0;
  }
}

.article-header-pattern {
  background-color: $color-black;
  display: none;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;

  @media #{$mq-md} {
    display: block;
    width: 320px;
  }

  .pattern::before {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
}
