.agenda,
.agenda td {
  border: 1px solid $color-marketing-gray-30;
  border-collapse: collapse;
}

.agenda-item-time {
  font-family: 'Zilla Slab', X-LocaleSpecific, sans-serif;
  font-size: 18px;
  font-weight: 700;
  width: 33%;
}

.agenda-item-time,
.agenda-item-detail {
  padding: 24px;
}

.agenda-item-title {
  margin-bottom: 8px;
}
