.filter-form {
  fieldset,
  label {
    color: $color-black;
  }

  margin-bottom: 12px;
  margin-top: 12px;

  @media #{$mq-md} {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  label {
    font-weight: normal;
  }
}

.filter-form-clear {
  color: $color-nevada;
  font-size: 12px;
  text-decoration: none;

  &:hover {
    color: $color-nevada;
  }

  .icon {
    bottom: 1px;
    margin-right: 3px;
    position: relative;
  }
}

.filter-form-section {
  margin-top: 12px;

  @media #{$mq-md} {
    border-bottom: 1px solid $color-marketing-gray-30;
    margin-top: 16px;
    padding-bottom: 16px;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 24px;
    }
  }

  label:last-child {
    margin-bottom: 0;
  }

  &.filter-form-footer {
    @media #{$mq-md} {
      padding-bottom: 0px;
    }
  }
}

.filter-form-section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  position: relative;

  h5 {
    margin: 0;
  }
}
