.filter-list-sidebar {
  margin-right: $grid-gap;
  margin-bottom: $grid-gap-mobile;

  html.no-js & {
    display: none;
  }

  @media #{$mq-md} {
    margin-bottom: 0;
  }
}

.filter-list-sidebar-content {
  background-color: $color-white;
  border: 2px solid $color-marketing-gray-20;
  border-radius: 2px;
  padding: 0 16px;

  @media #{$mq-md} {
    margin-bottom: 0;
    padding: 0 24px;
    position: sticky;
    top: 32px;
  }
}

.filter-list-sidebar-content-mobile {
  @media #{$mq-md} {
    display: none;
  }
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  margin-bottom: $spacing-md;
  summary {
    &:before {
      margin-top: -10px;
    }
  }
}

.filter-list-sidebar-content-desktop {
  display: none;

  @media #{$mq-md} {
    display: block;
  }
}

.filter-list-no-results {
  padding: 100px 0;
  text-align: center;

  h2::after {
    margin-bottom: 0;
  }
}
