.mzp-c-footer {
  .mozilla-developer-logo {
    float: left;
    height: 64px; // custom to this project - bedrock/mozorg may differ
    width: auto;
  }

  .footer-about-link {
    float: left;
    margin: $spacing-sm 0 0 $spacing-xl;
  }

  .social-links {
    background-color: $color-black;
    color: $color-white;

    .social-link {
      &:before {
        background: transparent no-repeat 0 0;
        background-size: 20px;
        content: '';
        display: inline-block;
        fill: white;
        height: 20px;
        margin-right: 8px;
        position: relative;
        vertical-align: top;
        width: 20px;
      }

      &.twitter {
        &:before {
          background-image: url('/static/img/icons/social/twitter/white.svg');
        }
      }
      &.youtube {
        &:before {
          background-image: url('/static/img/icons/social/youtube/white.svg');
          background-position-y: 2px;
        }
      }
      &.mozilla {
        &:before {
          background-image: url('/static/img/logos/mdn-dino-white.svg');
        }
      }

      @media #{$mq-lg} {
        box-sizing: content-box !important;
      }
    }
  }
}
