.four-card-row {
  background-color: transparent;
  h2,
  h4 {
    font-family: $body-font-family;
    margin: $spacing-md 0 $spacing-2xl;
  }

  &.has-tint {
    background-color: $color-marketing-gray-20;
  }
}
