.homepage-header {
  margin-top: -1px; // Overlap the navigation border.
  background: url('/static/img/homepage-header-pattern.svg'), url('/static/img/homepage-header-pattern.svg') $color-gray-20;
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% + 220px), calc(50% + 520px);
}

.homepage-header-content {
  padding-bottom: 64px;
  padding-top: 64px;
  width: 60%;

  @media screen and (min-width: 1024px) {
    padding-bottom: 100px;
    padding-top: 220px;
    width: 100%;
  }

  h1 {
    margin-bottom: 0.2em;
  }
}

.homepage-header-actions {
  margin-top: 24px;
}
