.homepage-header-content {
  text-align: center;
  width: 100%;

  @media #{$mq-md} {
    width: 50%;
  }
}

.homepage-header {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  h2 {
    font-size: 24px;
    line-height: calc(29 / 24);
  }  
}
