.newsletter-signup {
  margin: 0 auto 24px;
  max-width: unset;

  background: $color-white;
  color: $color-black;
  padding: $spacing-xl 0 $spacing-sm;

  @media #{$mq-md} {
    display: flex;
  }

  .mzp-c-newsletter-image {
    display: none;
    visibility: hidden;
    @media #{$mq-md} {
      display: block;
      visibility: visible;
      margin: 13px auto 0 auto;
      padding-left: 100px;
      max-width: 50%;
    }
  }

  .newsletter-content-wrapper {
    @media #{$mq-md} {
      width: 50%;
    }
  }

  .newsletter-cta-copy {
    @media #{$mq-md} {
      padding-left: $spacing-2xl;
    }
  }

  .mzp-c-newsletter-form {
    @media #{$mq-md} {
      float: left;
      max-width: 670px;
      padding: 0 $spacing-lg 0 $spacing-2xl;
    }
  }

  .newsletter-email {
    width: 100%;
    @media #{$mq-md} {
      width: 80%;
    }
  }

  .mzp-c-button {
    margin-bottom: 0;
    width: 100%;
    @media #{$mq-md} {
      width: 80%;
    }
  }

  .newsletter-privacy-wrapper {
    width: 100%;
    @media #{$mq-md} {
      width: 80%;
    }
  }
}

.newsletter-signup--compact {
  .newsletter-content-wrapper {
    @media #{$mq-md} {
      width: 66%;
      padding-left: calc(#{$spacing-sm} + #{$spacing-xs});
    }
    @media #{$mq-lg} {
      padding-left: 0;
    }
  }

  .mzp-c-newsletter-image {
    padding: 0 $spacing-lg 0 0;
    img {
      max-height: 200px;
    }
  }
  .mzp-c-newsletter-form,
  .newsletter-cta-copy {
    padding: 0;
    @media #{$mq-lg} {
      width: calc(50% - #{$spacing-sm} / 2);
      float: left;
    }
  }
  .newsletter-cta-copy {
    @media #{$mq-lg} {
      padding: 0 $spacing-lg 0 $spacing-sm;
    }
  }
  .mzp-c-newsletter-form {
    @media #{$mq-lg} {
      padding-top: $spacing-xs;
      padding: 0 0 0 $spacing-lg;
    }
  }

  .mzp-c-button,
  .newsletter-email,
  .newsletter-privacy-wrapper {
    @media #{$mq-lg} {
      width: 100%;
    }
  }
}
