@media (max-width: 768px) {
  .newsletter-signup {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .newsletter-signup {
    flex-direction: row;
  }
}

.newsletter-signup {
  align-items: center;
  background-color: $color-violet-90;
  display: flex;
}

.newsletter-signup-form {
  color: #fff;
  padding: 64px;
}

.newsletter-signup-form input,
.newsletter-signup-form button {
  width: 100%;
}
