.newsletter-signup {
  margin: 0 auto 24px;
  max-width: unset;

  background: $color-white;
  color: $color-black;
  padding: $spacing-xl 0 $spacing-sm;

  @media #{$mq-md} {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $grid-gap-mobile;
  }

  .mzp-c-newsletter-image {
    display: none;
    visibility: hidden;
    @media #{$mq-md} {
      display: grid;
      grid-column-start: 1;
      margin: 13px auto 0 auto;
      max-width: none;
      visibility: visible;
      width: 380px;
    }
  }

  .mzp-c-newsletter-form {
    width: auto;
    max-width: none;
    grid-column-start: 2;
    padding: 0px $spacing-lg;
  }
  .newsletter-email {
    width: 100%;
    @media #{$mq-md} {
      width: 80%;
    }
  }

  .mzp-c-button {
    margin-bottom: 0px;
    width: 100%;
    @media #{$mq-md} {
      width: 80%;
    }
  }

  .newsletter-privacy-wrapper {
    width: 100%;
    @media #{$mq-md} {
      width: 80%;
    }
  }
}
