.pattern-section {
  margin: 64px 0;
  position: relative;

  @media screen and (min-width: 1024px) {
    margin: 75px 0;
  }
}

.pattern-section-background {
  background: $color-gray-10;
  margin: 0 auto;
  max-width: 1190px;
  padding: $grid-gap 0;

  @media screen and (min-width: 1024px) {
    padding: 80px 0;
  }
}

.pattern-section-pattern {
  height: 40px;
  position: absolute;
  width: calc(100% - 50px);
  z-index: -1;

  @media screen and (min-width: 1024px) {
    height: 300px;
    width: calc(100% - 1024px - 150px);
  }

  @media screen and (min-width: (1024px + 150px)) {
    display: block;
  }

  .pattern {
    fill: #b1b1bc;
  }
}

.pattern-section-pattern-before {
  left: 0;
  top: -40px;

  @media screen and (min-width: 1024px) {
    top: -75px;
  }
}

.pattern-section-pattern-after {
  bottom: -40px;
  right: 0;

  @media screen and (min-width: 1024px) {
    bottom: -75px;
  }
}
