.pattern-bg-header {
  background-color: $color-black;
  color: $color-white;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  padding: 64px $grid-gap-mobile 80px;
  position: relative;

  @media #{$mq-md} {
    padding: 60px $grid-gap 70px;
  }

  .pattern {
    z-index: -1;

    &::before {
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);

      @media #{$mq-md} {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) calc(50% + #{$container-max-width / 4}), rgba(0, 0, 0, 0) 100%);
      }
    }
  }
}

.pattern-bg-header-container {
  display: flex;
  flex-direction: column;

  @media #{$mq-md} {
    flex-direction: row;
    max-width: 1024px;
    margin: 0 auto;
  }
}

.pattern-bg-header-icon {
  color: $color-black;
  margin-bottom: 32px;

  @media #{$mq-md} {
    display: block;
    margin: 0 48px 0 0;
  }
}

.pattern-bg-header-subtitle {
  font-family: 'Zilla Slab';
  font-size: 18px;
  margin-bottom: 0;
}

.pattern-bg-header-details {
  flex-grow: 1;

  @media #{$mq-md} {
    max-width: 65%;
  }
}
