.pattern-section {
  padding: 32px 0;
  overflow: hidden;
  position: relative;

  @media #{$mq-md} {
    padding: 64px 0;
  }

  @media screen and (min-width: 1024px) {
    padding: 75px 0;
  }
}

.pattern-section-background {
  background: $color-gray-10;
  margin: 0 auto;
  max-width: 1190px;
  padding: $grid-gap 0;
  position: relative;

  @media screen and (min-width: 1024px) {
    padding: 80px 0;
  }
}

.pattern-section-pattern {
  display: block;
  height: 250px;
  position: absolute;
  width: 70%;
  z-index: -1;

  @media #{$mq-md} {
    width: 300px;
  }

  .pattern {
    fill: #b1b1bc;
  }
}

.pattern-section-pattern-before {
  left: 0;
  top: -32px;

  @media #{$mq-md} {
    top: -64px;
  }

  @media screen and (min-width: 1190px) {
    left: -210px;
    top: -75px;
  }
}

.pattern-section-pattern-after {
  bottom: -32px;
  right: 0;

  @media #{$mq-md} {
    bottom: -64px;
  }

  @media screen and (min-width: 1190px) {
    bottom: -75px;
    right: -210px;
  }
}
