.people-section {
  .section-header {
    padding: $spacing-sm 0px $spacing-xl;
    h4 {
      font-family: $body-font-family;

      span {
        display: inline-block;
        padding-left: $spacing-sm;
        font-size: 0.6em;
      }
    }
  }
}
