.people-section {
  .section-header {
    padding: $spacing-sm 0px $spacing-xl;

    h2 {
      span {
        display: inline-block;
        padding-left: $spacing-sm;
        font-size: $small-font-size;
      }
    }
  }
}
