.people-section {
  h2 {
    font-family: $body-font-family;

    font-size: $h4-font-size;
    line-height: heading-line-height($h4-font-size);

    margin: $spacing-md 0 $spacing-2xl;

    @media #{$mq-md} {
      font-size: $h4-font-size;
      line-height: heading-line-height($h4-font-size);
    }

    span {
      display: inline-block;
      padding-left: $spacing-sm;
      font-size: 0.6em;
    }
  }
  &.has-tint {
    background-color: $color-marketing-gray-20;
    h4 {
      margin-top: 16px;
    }
  }
}
