.person-overview {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;

  @media #{$mq-md} {
    flex-direction: row;
  }

  .person-share-buttons {
    justify-content: flex-start;
    margin-top: 32px;
  }
}

.person-overview-details {
  width: 100%;

  @media #{$mq-md} {
    width: 58%;
  }
}

.person-overview-image-container {
  text-align: center;
}

.person-overview-image {
  display: inline-block;
  margin: 32px 0;
  position: relative;

  @media #{$mq-md} {
    margin: 0 32px;
  }
}

.person-overview-image img {
  border-radius: 50%;
}
