.social-links {
  background-color: $color-black;
  color: $color-white;
  text-align: center;
  font-size: $small-font-size;

  ul {
    margin-bottom: 0px;
  }

  section.link {
    @media #{$mq-lg} {
      box-sizing: content-box !important;
    }
  }
}
