.tabbed-panels-mobile {
  display: block;
  @media #{$mq-md} {
    display: none;
  }

  details {
    background-color: $color-gray-20;
  }

  summary {
    background-color: $color-black;
    margin-bottom: 1px;
    padding: 10px 0 1px 10px;

    &:before {
      background: $url-image-expand-white top left no-repeat;
    }
  }

  h3 {
    background-color: $color-white;
    display: inline-block;
    font-family: $highlight-font-family;
    font-size: $highlight2-font-size-mobile;
    font-weight: 700;
    line-height: 18px;

    @media #{$mq-md} {
      font-size: $highlight2-font-size;
    }
  }
}

.tabbed-panels-desktop {
  display: none;
  @media #{$mq-md} {
    display: block;
    position: relative;
  }
}

.tabbed-panels {
  @media #{$mq-md} {
    flex-direction: row;
  }

  .displayed {
    display: block;
  }
}

.tabbed-panels-content-wrapper {
  width: 80%;
}

.tabbed-panels-content-bg {
  display: none;
  background-color: $color-gray-20;
  height: 316px;
  margin-top: 32px;
}

.tabbed-panels-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 32px 0;

  @media #{$mq-md} {
    height: 380px;
    margin: 20px 0;
    padding: 40px 0;
    position: relative;
    top: -64px;
  }

  img {
    margin-bottom: 24px;
  }

  p {
    flex-grow: 1;
    max-width: 360px;
    text-align: center;
  }
}

.tabbed-panels-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 320px;
}

.tabbed-panels-nav.hidden {
  display: none;
}

.tabbed-panels-toggle {
  background-position: 24px center;
  background-repeat: no-repeat;
  box-shadow: 0 1px $color-black;
  display: block;
  height: 124px;
  margin-bottom: 2px;
  position: relative;
  text-align: center;
  transition: background-position-x 0.1s ease-in;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  span {
    display: inline-block;
    margin: 48px 0;
  }

  &.highlight2 {
    background-image: url($image-path+'/icons/ui/arrow-left-black.svg');
  }

  &.highlight2-inverse {
    background-image: url($image-path+'/icons/ui/arrow-left-white.svg');
  }

  &:hover {
    background-color: $color-white;
    background-image: url($image-path+'/icons/ui/arrow-left-black.svg');
    background-position-x: calc(24px - 6px);
    color: $color-black;

    @media (prefers-reduced-motion: reduce) {
      background-position-x: 24px;
    }
  }
}
