.topic-header {
  background-color: $color-gray-10;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 260px;
  grid-column: full;
  margin-bottom: 32px;
  padding: $grid-gap-mobile;

  @media #{$mq-md} {
    padding: 40px $grid-gap 0;
  }

  h1,
  p {
    background-color: $color-black;
    color: $color-white;
    display: inline-block;
  }
}

.topic-header-container {
  @media #{$mq-md} {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.topic-header-details {
  max-width: 680px;

  p {
    box-decoration-break: clone;
    box-shadow: 0 0 0 3px $color-black;
    display: inline;
    left: 4px;
    position: relative; 
  }  
}
