{% extends "base.html" %}
{% load static %}

{% block body_class %}homepage{% endblock %}

{% block content %}
  <h1>Heading 1</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis libero lectus, eget fringilla ante aliquam nec. Nunc congue urna luctus, pellentesque neque pellentesque, faucibus nisl. Etiam porttitor diam nec dolor posuere, quis sollicitudin metus condimentum. Aenean placerat lectus libero, quis luctus nunc semper ut. Suspendisse potenti.</p>
  <h2>Heading 2</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis libero lectus, eget fringilla ante aliquam nec. Nunc congue urna luctus, pellentesque neque pellentesque, faucibus nisl. Etiam porttitor diam nec dolor posuere, quis sollicitudin metus condimentum. Aenean placerat lectus libero, quis luctus nunc semper ut. Suspendisse potenti.</p>
  <h3>Heading 3</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis libero lectus, eget fringilla ante aliquam nec. Nunc congue urna luctus, pellentesque neque pellentesque, faucibus nisl. Etiam porttitor diam nec dolor posuere, quis sollicitudin metus condimentum. Aenean placerat lectus libero, quis luctus nunc semper ut. Suspendisse potenti.</p>
  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis libero lectus, eget fringilla ante aliquam nec. Nunc congue urna luctus, pellentesque neque pellentesque, faucibus nisl. Etiam porttitor diam nec dolor posuere, quis sollicitudin metus condimentum. Aenean placerat lectus libero, quis luctus nunc semper ut. Suspendisse potenti.</p>
  <h5>Heading 5</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis libero lectus, eget fringilla ante aliquam nec. Nunc congue urna luctus, pellentesque neque pellentesque, faucibus nisl. Etiam porttitor diam nec dolor posuere, quis sollicitudin metus condimentum. Aenean placerat lectus libero, quis luctus nunc semper ut. Suspendisse potenti.</p>
  <h6>Heading 6</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur venenatis libero lectus, eget fringilla ante aliquam nec. Nunc congue urna luctus, pellentesque neque pellentesque, faucibus nisl. Etiam porttitor diam nec dolor posuere, quis sollicitudin metus condimentum. Aenean placerat lectus libero, quis luctus nunc semper ut. Suspendisse potenti.</p>
{% endblock content %}
