{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}video{% endblock %}

{% block content %}

{% static "img/icons/video-white.svg" as page_icon_asset_url %}
{% include "molecules/header-strip.html" with page_icon_asset_url=page_icon_asset_url page=page content=page.title element="h1" %}

  <main role="main">
    {% comment %} the video embed comes from a video_url streamfield {% endcomment %}
    <div class="mzp-l-content">
      <div class="video-wrapper">
        {{ page.video_url }}
      </div>
      {% include "molecules/resource-share.html" %}
    </div>
  </main>

  {% include "organisms/newsletter-signup.html" %}

{% endblock content %}
