{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}video{% endblock %}

{% block content %}
  <main>
    <section class="section">
      <div class="container">
        {% include "organisms/video-header.html" with title=page.title description=page.description %}
      </div>
    </section>
    <section class="section">
      <div class="container">
        {{ page.video_url }}
      </div>
    </section>
    <section class="section">
      <div class="container article-content">
        <div class="article-body">
          <div class="resource-toolbar">
            {% include "molecules/article-details.html" with date=page.date authors=page.speakers %}
            {% include "molecules/resource-share.html" %}
          </div>
        </div>
        <article class="article-body">
          {% if page.body %}
            {{ page.body | richtext }}
          {% endif %}
          {% if page.transcript %}
            <h2>Transcript</h2>
            {{ page.transcript | richtext }}
          {% endif %}
        </article>
        <aside class="article-sidebar">
          {% if page.related_links %}
            {% include "molecules/related-links.html" with links=page.related_links %}
          {% endif %}
          {% if page.related_resources %}
            <h4>Read more on this topic</h4>
            <div class="article-sidebar-cards">
              {% for resource in page.related_resources|slice:":3" %}
                {% include "molecules/cards/card.html" with resource=resource %}
              {% endfor %}
            </div>
          {% endif %}
          {% if page.primary_topic %}
            {% include "molecules/card-topic.html" with topic=page.primary_topic %}
          {% endif %}
        </aside>
      </div>
    </section>
    {% include "organisms/newsletter-signup.html" %}
  </main>
{% endblock content %}
