{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}article-detail{% endblock %}

{% block header %}
  {% include "header.html" %}
  {% include "utils/accent-color.html" with color="#00ddff" %}
{% endblock %}

{% block content %}
  <main>
    <div class="article-grid">
      {% include "organisms/article-header.html" with title=page.title intro=page.intro|richtext date=page.date header_image=page.header_image authors=page.authors.all %}
      <div class="article-content">
        <article class="article-body">
          {% include "molecules/resource-share.html" with resource=page type="article" read_time=read_time %}
          {% for block in page.body %}
            {{ block }}
          {% endfor %}
        </article>
        <aside class="article-sidebar">
          {% if page.related_articles %}
            <h4>Read more</h4>
            {% for resource in page.related_articles.all %}
              {% include "molecules/card.html" with resource=resource type="article" %}
            {% endfor %}
          {% endif %}
          {% if page.primary_topic %}
            {% include "molecules/card-topic.html" with topic=page.primary_topic %}
          {% endif %}
        </aside>
      </div>
    </div>
  </main>
{% endblock content %}
