{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}article-detail{% endblock %}

{% block header %}
  {% include "header.html" %}
{% endblock %}

{% block content %}
  <main>
    <article class="article-grid">
      {% include "organisms/article-header.html" with title=page.title intro=page.intro|richtext date=page.date %}
      <div class="article-content">
        <section class="article-body">
          {% include "molecules/resource-share.html" with resource=page type="article" %}
          {% for block in page.body %}
            {{ block }}
          {% endfor %}
        </section>
        <aside class="article-sidebar">
          <h4>Read more</h4>
          {% for resource in related_articles %}
            {% include "molecules/card.html" with resource=resource.specific type="article" %}
          {% endfor %}
        </aside>
      </div>
    </article>
  </main>
{% endblock content %}
