{% extends "base.html" %}
{% load wagtailcore_tags %}

{% comment %} For now we're not renaming CSS classes from articles to posts {% endcomment %}
{% block body_class %}articles{% endblock %}

{% block content %}
  <main role="main">
    <section class="section section-pattern">
      <div class="mzp-l-content">
        <div class="section-header">
          <div>
            <h2>Posts</h2>
            {% if page.description %}
              <div class="page-description">
                {{ page.description | richtext }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% include "organisms/filter-list.html" with type="article_or_video" resources=resources no_resources_message="No posts found" %}
    </section>
    {% include "organisms/newsletter-signup.html" %}
  </main>
{% endblock content %}
