{% extends "base.html" %}

{% block body_class %}articles{% endblock %}

{% block content %}
  <main>
    {% if page.articles %}
      <section class="section section-pattern">
        <div class="container">
          <div class="section-header">
            <div>
              <h2>Articles</h2>
              {% if page.description %}
                <p class="page-description">{{ page.description }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        {% include "organisms/filter-list.html" with type="article" resources=page.articles initial_resources=6 resources_per_page=4 %}
      </section>
    {% endif %}
    {% include "organisms/newsletter-signup.html" %}
  </main>
{% endblock content %}
