{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}people{% endblock %}

{% block content %}
  <main>
    <div class="base-grid">
      <section>
        <div class="section-header">
          <h2>Featured</h2>
        </div>
        {% for person in page.featured_people.all %}
          {% if forloop.first and forloop.last %}
            {% include "molecules/card-featured-primary.html" with resource=person type="person" %}
          {% elif forloop.counter == 2 %}
            <div class="card-container card-container-2">
              {% include "molecules/card-featured.html" with resource=person.person type="person" %}
            </div>
          {% else %}
            <div class="card-container">
              {% include "molecules/card-featured.html" with resource=person.person type="person" format="square" %}
            </div>
          {% endif %}
        {% endfor %}
      </section>
      <section class="section-full">
        {% include "organisms/filter-list.html" with type="People" %}
      </section>
    </div>
  </main>
{% endblock content %}
