{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}people{% endblock %}

{% block content %}
  <main>
    <div class="base-grid">
      {% if page.people %}
        <section>
          <h2>People</h2>
          {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
          {% endif %}
        </section>
        <section class="section-full">
          {% include "organisms/filter-list.html" with type="person" resources=page.people initial_resources=10 resources_per_page=4 %}
        </section>
      {% endif %}
      <section id="newsletter" class="section-full section-background">
        {% include "organisms/newsletter-signup.html" %}
      </section>
    </div>
  </main>
{% endblock content %}
