{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block body_class %}person{% endblock %}

{% block content %}

{% static "img/icons/people.svg" as page_icon_asset_url %}
{% include "molecules/header-strip.html" with content=page.title element="h1" skip_standfirst=True page_icon_asset_url=page_icon_asset_url %}

<div class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-right content-page">
  <main role="main" class="mzp-l-main custom-width">
    <h2>About</h2>
    {{page.description|richtext}}
  </main>

  <aside class="mzp-l-sidebar custom-width">
    {% include "molecules/cards/card.html" with resource=page node_type="div" %}
  </aside>
</div>

{% include "organisms/topic-links.html" with topics=page.get_topics pagetheme='person' two_column=True %}

{% include "organisms/newsletter-signup.html" %}
{% endblock content %}
