{% extends "base.html" %}
{% load static %}

{% block title %}Server error{% endblock %}
{% block title_suffix %}- Mozilla Developer{% endblock %}
{% block body_class %}full-height{% endblock %}
{% block content %}
  <main role="main">
    <div class="mzp-l-content">
      <div class="http-error-header">
        <h1 class="underline">Whoops, you shouldn't be here!</h1>
      </div>
      <div class="http-error">
        <div class="http-error-content">
          <h3 class="no-underline">A server error has occurred.</h3>
          <ul class="http-error-links">
            <li><a href="/">Go back to the home page</a></li>
            <li><a href="https://developer.mozilla.org/" rel="nofollow noopener">Go to docs</a></li>
          </ul>
        </div>
        <div class="http-error-image">
          <img src="{% static 'img/http-error.png' %}" alt="page not found">
        </div>
      </div>
    </div>
  </main>
{% endblock %}
