<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <img class="mozilla-developer-logo" src="/static/img/logos/developer/white.svg" alt="Mozilla Developer logo" />
  </div>

  <div class="social-links">
    <section class="mzp-l-content">
      <div class="mzp-c-footer-sections">
        <section class="mzp-c-footer-section link">
          <a href="https://hacks.mozilla.org/" rel="noopener">
            <img src="/static/img/logos/mdn-dino-white.svg" alt="Mozilla Hacks Blog logo" />
            Mozilla Hacks Blog
          </a>
        </section>
        <section class="mzp-c-footer-section link">
          <a href="https://twitter.com/mozhacks" rel="noopener">
            <img src="/static/img/icons/social/twitter/white.svg" alt="Twitter logo" />
            @mozhacks
          </a>
        </section>
        <section class="mzp-c-footer-section link">
          <a href="https://www.youtube.com/user/mozhacks" rel="noopener">
              <img src="/static/img/icons/social/youtube/white.svg" alt="YouTube logo for Mozilla Hacks" />
              @mozhacks
          </a>
        </section>
        <section class="mzp-c-footer-section link">
          <a href="https://www.youtube.com/MozillaDeveloper" rel="noopener">
            <img src="/static/img/icons/social/youtube/white.svg" alt="YouTube logo for Mozilla Developer" />
            @MozillaDeveloper
          </a>
        </section>
      </div>
    </section>
  </div>

  <div class="mzp-l-content">
    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-legal">
        <p class="mzp-c-footer-license">
          Portions of this content are &copy;1998–{% now "Y" %} by individual mozilla.org
          contributors.<br>Content available under a
          <a href="https://www.mozilla.org/foundation/licensing/website-content/" rel="license noopener">Creative Commons license</a>.
        </p>
        <ul class="mzp-c-footer-terms">
          <li><a href="https://www.mozilla.org/about/" rel="noopener">About Mozilla</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/" rel="noopener">Website Privacy Notice</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/#cookies" rel="noopener">Cookies</a></li>
          <li><a href="https://www.mozilla.org/about/legal/" rel="noopener">Legal</a></li>
          <li><a href="https://www.mozilla.org/about/governance/policies/participation/" rel="noopener">Community Participation Guidelines</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
