<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-legal">
        <p class="mzp-c-footer-license">
          Portions of this content are &copy;1998–{% now "Y" %} by individual mozilla.org
          contributors. Content available under a
          <a
           rel="license" href="https://www.mozilla.org/foundation/licensing/website-content/" rel="nofollow noopener">Creative Commons license</a>.
        </p>
        <ul class="mzp-c-footer-terms">
          <li><a href="https://www.mozilla.org/privacy/websites/" rel="nofollow noopener">Website Privacy Notice</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/#cookies" rel="nofollow noopener">Cookies</a></li>
          <li><a href="https://www.mozilla.org/about/legal/" rel="nofollow noopener">Legal</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
