<footer class="mzp-c-footer">
  <div class="mzp-l-content">
    <a href="/"><img class="mozilla-developer-logo" src="/static/img/logos/developer/white.svg" alt="Mozilla Developer home" /></a>
    {% if ABOUT_LINK %}
    <a class="footer-about-link" href="{{ABOUT_LINK}}">About this site</a>
    {% endif %}
  </div>

  <ul class="mzp-l-content social-links mzp-c-footer-sections">
    <li class="mzp-c-footer-section">
      <a class="social-link mozilla" href="https://hacks.mozilla.org/">Mozilla Hacks Blog</a>
    </li>
    <li class="mzp-c-footer-section">
      <a class="social-link twitter" href="https://twitter.com/mozhacks" aria-label="Follow @mozhacks on Twitter">@mozhacks</a>
    </li>
    <li class="mzp-c-footer-section">
      <a class="social-link youtube" href="https://www.youtube.com/user/mozhacks" aria-label="Visit @mozhacks on YouTube">@mozhacks</a>
    </li>
    <li class="mzp-c-footer-section">
      <a class="social-link youtube" href="https://www.youtube.com/MozillaDeveloper">@MozillaDeveloper</a>
    </li>
  </ul>

  <div class="mzp-l-content">
    <nav class="mzp-c-footer-secondary">
      <div class="mzp-c-footer-legal">
        <p class="mzp-c-footer-license">
          Portions of this content are &copy;1998–{% now "Y" %} by individual mozilla.org
          contributors.<br>Content available under a
          <a href="https://www.mozilla.org/foundation/licensing/website-content/" rel="license">Creative Commons license</a>.
        </p>
        <ul class="mzp-c-footer-terms">
          <li><a href="https://www.mozilla.org/about/">About Mozilla</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/">Website Privacy Notice</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/#cookies">Cookies</a></li>
          <li><a href="https://www.mozilla.org/about/legal/">Legal</a></li>
          <li><a href="https://www.mozilla.org/about/governance/policies/participation/">Community Participation Guidelines</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
