<header class="header">
  <nav class="container nav-container">
    <a href="/" class="nav-home">mozilla</a>
    <button id="nav-hamburger" class="nav-hamburger"></button>
    <ol id="nav-topics" class="nav-topics">
      <li><a href="" class="nav-topic">JavaScript</a></li>
      <li><a href="" class="nav-topic">CSS</a></li>
      <li><a href="" class="nav-topic">Dweb</a></li>
      <li><a href="" class="nav-topic">Security</a></li>
      <li><a href="" class="nav-topic">Mixed Reality</a></li>
      <li><a href="" class="nav-topic">Rust</a></li>
    </ol>
  </nav>
</header>