{% load app_tags app_filters static %}
{% load wagtailcore_tags %}

{% with home_page=request.site.root_page %}
  <header class="header">
    <div class="mzp-c-navigation">
      <div class="mzp-c-navigation-l-content">
        <div class="mzp-c-navigation-container">
          <button class="mzp-c-navigation-menu-button" type="button" aria-controls="patterns.organisms.navigation.navigation">Menu</button>
          <div class="mzp-c-navigation-logo">
            <a href="/">
              <img class="mozilla-developer-logo" src="/static/img/logos/developer/black.svg" alt="Mozilla Developer logo" />
            </a>
          </div>
          <div class="mzp-c-navigation-items" id="patterns.organisms.navigation.navigation">
            <div class="mzp-c-navigation-menu">
              <nav class="mzp-c-menu mzp-is-basic">
                <ul class="mzp-c-menu-category-list">
                  {% for page in home_page.get_children.public.live.in_menu %}
                    {% with child_pages=page.get_children.public.live.in_menu %}
                      <li class="mzp-c-menu-category{% if child_pages %} mzp-has-drop-down mzp-js-expandable{% endif %}">
                        {% if child_pages %}
                        <a href="#" class="mzp-c-menu-title" aria-haspopup="true" aria-controls="mzp-c-menu-panel-{{ page.slug }}">{{ page.title }}</a>
                        {% else %}
                        <a class="mzp-c-menu-title" href="{{ page.url }}">
                          {{ page.title }}
                        </a>
                        {% endif %}
                        {% if child_pages %}
                          {% with specific_child_pages=child_pages.public.live.in_menu.specific %}
                          <div class="mzp-c-menu-panel mzp-has-card" id="mzp-c-menu-panel-{{ page.slug }}">
                            <div class="mzp-c-menu-panel-container">
                              <button class="mzp-c-menu-button-close" type="button" aria-controls="mzp-c-menu-panel-{{ page.slug }}">
                                Close {{ page.title }} menu
                              </button>
                              <div class="mzp-c-menu-panel-content">
                                {% for child_page_group in specific_child_pages|split_across_two_columns %}
                                <ul>
                                  {% for page in child_page_group %}
                                    <li>
                                      <section class="mzp-c-menu-item mzp-has-icon">
                                        <a class="mzp-c-menu-item-link" href="{{ page.url }}">
                                          <img src="{% get_menu_item_icon page %}" class="mzp-c-menu-item-icon" alt="" width="24" height="24">
                                          <h4 class="mzp-c-menu-item-title">{{ page.title }}</h4>
                                        </a>
                                        {% if page.nav_description %}
                                        <div class="mzp-c-menu-item-desc">
                                          <p>{{page.nav_description}}</p>
                                        </div>
                                        {% endif %}
                                      </section>
                                    </li>
                                  {% endfor %}
                                </ul>
                                {% endfor %}
                              </div>
                              {% include "molecules/navigation/promotion.html" with page=page %}
                            </div>
                          </div>
                          {% endwith %}
                        {% endif %}
                      </li>
                    {% endwith %}
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endwith %}
