.article-content {
  display: grid;
  column-gap: $grid-gap-mobile;
  grid-template-columns: [body-start sidebar-start] 1fr [sidebar-end body-end];
  padding: $grid-gap-mobile 0;

  @media #{$mq-md} {
    column-gap: $grid-gap;
    grid-template-columns: [body-start] repeat(8, 1fr) [body-end sidebar-start] repeat(4, 1fr) [sidebar-end];
    padding: $grid-gap 0;
  }
}

.article-body {
  grid-column: body;
}

.article-sidebar {
  grid-column: sidebar;
}

.article-sidebar-cards {
  margin-bottom: 32px;

  .card:not(:last-child) {
    margin-bottom: 32px;
  }
}
