.article-content {
  display: grid;
  column-gap: $grid-gap-mobile;
  grid-template-columns: [body-start sidebar-start] 1fr [sidebar-end body-end];
  padding: $grid-gap-mobile 0;

  @media #{$mq-md} {
    column-gap: $grid-gap;
    grid-template-columns: [body-start] repeat(8, 1fr) [body-end sidebar-start] repeat(4, 1fr) [sidebar-end];
    padding: $grid-gap 0;
  }
}

.article-body {
  grid-column: body;
  overflow-x: auto;

  h3,
  h4,
  h5,
  h6 {
    &:not(.no-underline) {
      background: none;
    }
  }
}

.article-sidebar {
  grid-column: sidebar;
}

.article-sidebar-cards {
  margin-bottom: 32px;

  .card-link {
    display: inline-block;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card:not(:last-child) {
    margin-bottom: 32px;
  }
}
