.article-grid {
  display: grid;
  grid-column-gap: $grid-gap-mobile;
  grid-template-columns: [full-start] 1fr [main-start] minmax(0, 1024px) [main-end] 1fr [full-end];

  @media #{$mq-md} {
    grid-column-gap: $grid-gap;
  }
}

.article-content {
  display: grid;
  column-gap: $grid-gap-mobile;
  grid-column: main;
  grid-template-columns: [body-start sidebar-start] 1fr [sidebar-end body-end];
  padding: $grid-gap-mobile 0;

  @media #{$mq-md} {
    column-gap: $grid-gap;
    grid-template-columns: [body-start] repeat(8, 1fr) [body-end sidebar-start] repeat(4, 1fr) [sidebar-end];
    padding: $grid-gap 0;
  }
}

.article-body {
  grid-column: body;
}

.article-sidebar {
  grid-column: sidebar;
}
