main {
  padding: var(--grid-column-gap) 0;
}

@media (max-width: 768px) {
  .grid-article {
    grid-template-columns: [header-start content-start sidebar-start] repeat(6, 1fr) [content-end sidebar-end header-end];
  }
}

@media (min-width: 768px) {
  .grid-article {
    grid-template-columns: [header-start content-start] repeat(8, 1fr) [content-end sidebar-start] repeat(4, 1fr) [sidebar-end header-end];
  }
}

.grid-article .article-header {
  grid-column: header;
}

.grid-article .article-content {
  grid-column: content;
}

.grid-article .article-sidebar {
  grid-column: sidebar;
}
