body.events {
  div.events-extra-content {
    padding-top: 0px;
    margin-top: -24px;
  }
}

.events-filter-header {
  // we only want to show this on non-mobile viewports
  @media #{$mq-md} {
    display: none;
    visibility: hidden;
  }
}
