body.events {
  div.header-strip {
    margin-bottom: 0; // to allow for the four-card-row div of featured items
  }

  div.events-top-content {
    margin-bottom: $spacing-lg;
    @media #{$mq-md} {
      margin-top: 76px; // + 24px from mzp-l-content == 100px
    }
  }

  div.events-top-content,
  div.events-bottom-content,
  div.events-middle-content {
    .rich-text {
      max-width: 768px;
    }
  }

  div.four-card-row {
    margin-bottom: $spacing-lg;
  }
}
