.home-grid {
  display: grid;
  grid-column-gap: $grid-gap-mobile;
  grid-template-columns: [full-start] 1fr [main-start] minmax(0, 1024px) [main-end] 1fr [full-end];

  @media #{$mq-md} {
    grid-column-gap: $grid-gap;
  }
}

.home-content {
  grid-column: main;
}
