body.person {
  .topic-links {
    @media #{$mq-md} {
      .topic-links-wrapper {
        margin-top: 24px;
      }
    }

    .mzp-c-card-content {
      background-color: $color-white;
      display: inline-block; // so that the border for mzp-c-card-block-link does not wrap short

      @media #{$mq-xs} {
        padding: $spacing-md $spacing-md 0 $spacing-md;

        .topic-item-icon,
        .mzp-c-card-title,
        .mzp-c-card-desc {
          float: left;
        }

        .mzp-c-card-title {
          font-size: 1.15rem;
          margin-bottom: 0px;
          margin-left: $spacing-sm;
          margin-bottom: $spacing-sm;
        }

        .mzp-c-card-desc {
          width: 100%; // so that short titles (eg 'CSS') don't cause it to flow up to the same line as the title
          font-size: 0.9rem;
          margin-left: 36px;
          margin-top: 0px;
          margin-bottom: $spacing-sm;
        }
      }
    }
  }
}
