body.site-search {
  .mzp-has-sidebar {
    display: flex;
    flex-direction: column-reverse;
    @media #{$mq-md} {
      display: block;
      flex-direction: row;
    }
  }

  .pagination-block {
    @media #{$mq-md} {
      text-align: left;
    }
  }
}
