.topic-grid {
  display: grid;
  grid-column-gap: $grid-gap-mobile;
  grid-template-columns: [full-start] 1fr [main-start] minmax(0, 1024px) [main-end] 1fr [full-end];

  @media #{$mq-md} {
    grid-column-gap: $grid-gap;
  }
}

.topic-content {
  grid-column: main;
}

section {
  margin-bottom: 32px;

  @media #{$mq-md} {
    margin-bottom: 100px;
  }
}

.section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

h2::after {
  border-bottom-color: $color-blue-20;
}
