section {
  margin-bottom: 32px;

  @media #{$mq-md} {
    margin-bottom: 100px;
  }
}

.section-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
