.article-details-link {
  color: inherit;
  text-decoration: none;
}

.article-details {
  color: $color-nevada;
  display: flex;
  font-size: 12px;
  margin-top: 24px;

  img {
    border-radius: 50%;
    height: 48px;
    margin-right: 16px;
    width: 48px;
  }
}

.article-details-meta {
  align-self: center;
  flex-grow: 1;

  p {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
