.article-details {
  color: $color-nevada;
  display: flex;
  font-size: 12px;
}

.article-details-avatars {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 0;
  margin-right: 16px;

  img {
    border-radius: 50%;
    height: 42px;
    width: 42px;

    &:not(:first-child) {
      margin-right: -16px;
    }
  }
}

.article-details-meta {
  align-self: center;
  flex-grow: 1;

  p {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.article-details-meta-names {
  font-weight: bold;
  margin-bottom: 4px;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2px;

      &::after {
        content: '\00b7';
        margin-left: 2px;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}
