.card-container {
  display: grid;
  grid-gap: $grid-gap-mobile;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  @media #{$mq-md} {
    grid-column-gap: $grid-gap;
    grid-row-gap: 24px;
  }
}

.card-container-2-wide {
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}


.card-container-people {
  align-items: center;
  display: flex;
  flex-direction: column;
  @media #{$mq-md} {
    display: grid;
  }
}

.card {
  background-color: $color-white;
  border: 2px solid $color-gray-20;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  transition: box-shadow 100ms, transform 100ms;
  width: 100%;

  @media #{$mq-md} {
    margin-bottom: 0;
  }

  .card-link:hover & {
    border-color: $color-black;
    box-shadow: 4px 4px 0 0 $color-black;
    transform: translate(-2px, -2px);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .card-container & {
    height: 100%;
  }

  h4 {
    margin-bottom: 0;
    text-align: left;
  }

  .resource-meta {
    margin-bottom: 8px;
  }
}

.card-full {
  @media #{$mq-md} {
    flex-direction: row;

    .card-image {
      padding-top: 40%;
      width: 50%;
    }

    .card-content {
      width: 50%;
    }
  }

  .card-content {
    h4 {
      margin-bottom: 16px;
    }

    p {
      color: $color-nevada;
    }
  }
}

.card-link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }

  &:active {
    background: none;
  }

  &[data-type='person'] .card-image {
    filter: grayscale(1);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;

  .icon-external {
    position: relative;
    margin-left: 10px;
    top: -2px;
  }
}

.card-content-main {
  flex-grow: 1;
}

.card-image {
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 56.25%;
}

.card-image-square {
  padding-top: 100%;
}

.card-image-wide {
  padding-top: 25%;
}
