.card-featured {
  background-color: $color-gray-20;
  color: $color-white;
  position: relative;

  @media #{$mq-md} {
    margin-bottom: 0;
  }

  &-content {
    position: absolute;
    top: 0;
    padding: 24px 16px;
  }

  h3,
  p,
  a {
    background-color: $color-black;
    display: inline-block;
  }

  p {
    display: inline;
    box-decoration-break: clone;
    box-shadow: 0 0 0 3px $color-black;
    font-size: 14px;
    position: relative; 
    left: 4px;
  }

  a {
    color: $color-white;
    margin-top: 8px;
    padding: 4px 12px 8px;
  }
}
