.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: 1px solid $color-gray-50;
  margin-bottom: 24px;
  width: 100%;

  @media #{$mq-md} {
    margin-bottom: 0;
    width: 320px;
  }

  h5 {
    text-align: left;
  }
}

.card-link {
  color: $color-black;
  text-decoration: none;
}

.card-content {
  padding: 24px;
}
