.mzp-l-card-full {
  .mzp-c-card {
    &.devportal-card-x-large {
      max-width: 1024px; // huge....
    }
  }
}

// Introduce a new 3-1 ratio image card, namespaced as devportal
.mzp-c-card.devportal-has-aspect-3-1 {
  .mzp-c-card-media-wrapper {
    padding-bottom: 33.33%;
    position: relative;

    img,
    video,
    iframe,
    object,
    embed {
      position: absolute;
      top: -50%; /* to mock-vertically center the image */
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
