.card-event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-event {
  border: 1px solid var(--card-border);
  display: flex;
  margin-bottom: 24px;
  max-width: 500px;
}

.card-event-content {
  padding: 24px;
}

.card-event-content h5 {
  margin-bottom: 0;
  text-align: left;
}

.card-event-content span {
  font-size: 14px;
  font-weight: bold;
}

.card-event-content button {
  margin-right: 16px;
}
