/* -------------------------------------------------------------------------- */
// Base card class lifted from Protocol

.mzp-c-card {
  @include border-box;
  background: $color-white;
  margin-bottom: $spacing-lg;

  // Preserve aspect ratio of images and avoid content jump when loading.
  &.mzp-has-aspect-1-1 .mzp-c-card-media-wrapper {
    @include aspect-ratio(1, 1);
  }

  &.mzp-has-aspect-16-9 .mzp-c-card-media-wrapper {
    @include aspect-ratio(16, 9);
  }

  &.mzp-has-aspect-3-2 .mzp-c-card-media-wrapper {
    @include aspect-ratio(3, 2);
  }

  .mzp-c-card-media-wrapper {
    background-color: $color-marketing-gray-20;
    border-radius: $border-radius-xs;
    overflow: hidden;
    position: relative;
  }

  .mzp-c-card-image,
  .mzp-c-card-video {
    display: block;
    max-width: none;
    width: 100%;
  }

  .mzp-c-card-content {
    @include border-box;
    padding: $spacing-sm;
  }

  .mzp-c-card-tag {
    @include font-base;
    @include text-body-sm;
    color: $color-marketing-gray-80;
    font-weight: normal;
    margin-bottom: $spacing-xs;
  }

  &.mzp-has-video .mzp-c-card-tag,
  &.mzp-has-audio .mzp-c-card-tag {
    @include bidi(
      (
        (background-position, center left, center right),
        (padding-left, $spacing-xl, padding-right, 0)
      )
    );
    background-repeat: no-repeat;
    line-height: 1.8;
    min-height: 25px;
  }

  // &.mzp-has-video .mzp-c-card-tag {
  //   background-image: url('#{$image-path}/icons/video-card.svg');
  // }

  // &.mzp-has-audio .mzp-c-card-tag {
  //   background-image: url('#{$image-path}/icons/audio-card.svg');
  // }

  .mzp-c-card-title {
    @include text-title-xs;
    display: inline;
  }

  .mzp-c-card-title,
  .mzp-c-card-cta-text {
    border-bottom: 2px solid transparent;
  }

  .mzp-c-card-desc {
    margin: $spacing-xs 0 0;
  }

  .mzp-c-card-cta {
    font-weight: bold;
    margin: $spacing-xs 0 0;
  }

  .mzp-c-card-block-link {
    border-radius: $border-radius-xs;
    display: block;

    &:link,
    &:visited {
      color: $color-black;
      text-decoration: none;

      .mzp-c-card-cta-text {
        color: $color-link;
      }
    }

    &:hover,
    &:active,
    &:focus {
      @include transition(box-shadow 0.1s ease-in-out);
      box-shadow: 0 0 0 4px $color-marketing-gray-20;

      .mzp-c-card-title,
      .mzp-c-card-cta-text {
        @include transition(border-bottom-color 100ms ease-in-out);
        border-bottom: 2px solid;
      }
    }
  }

  .mzp-c-card-meta {
    @include text-body-xs;
    color: $color-marketing-gray-80;
    margin: $spacing-lg 0 0;
  }

  @media #{$mq-sm} {
    max-width: 450px;
  }

  @media #{$mq-md} {
    margin-bottom: $spacing-xl;
  }
}

/* -------------------------------------------------------------------------- */
// Medium sized card

.mzp-c-card.mzp-c-card-medium {
  @media #{$mq-sm} {
    max-width: 610px;
  }
}

/* -------------------------------------------------------------------------- */
// Card with larger title

.mzp-c-card.mzp-c-card-large {
  .mzp-c-card-title {
    @include text-title-md;
  }

  .mzp-c-card-desc {
    @include text-body-lg;
  }

  @media #{$mq-sm} {
    max-width: 930px;
  }
}

/* -------------------------------------------------------------------------- */
// Card with extra small title and text

.mzp-c-card.mzp-c-card-extra-small {
  .mzp-c-card-tag,
  .mzp-c-card-cta {
    @include text-body-xs;
  }

  .mzp-c-card-title {
    @include text-title-xxs;
  }

  .mzp-c-card-desc {
    @include text-body-sm;
  }

  .mzp-c-card-block-link {
    border-radius: $border-radius-xs;
    height: 100%;
  }

  @media #{$mq-lg} {
    max-width: 300px;
  }
}

/* -------------------------------------------------------------------------- */
// Extra card CSS lifted from mozilla.org's home.css

@media (min-width: 480px) {
  .mzp-l-card-quarter {
    zoom: 1;
  }
  .mzp-l-card-quarter:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
  .mzp-l-card-quarter .mzp-c-card {
    width: calc(50% - (32px / 2));
  }
  .mzp-l-card-quarter .mzp-c-card {
    float: left;
    margin-left: 0;
    margin-right: 32px;
  }
  [dir='rtl'] .mzp-l-card-quarter .mzp-c-card {
    float: right;
    margin-left: 32px;
    margin-right: 0;
  }
  .mzp-l-card-quarter .mzp-c-card:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .mzp-l-card-quarter .mzp-c-card {
    width: calc(25% - (32px - (32px / 4)));
  }
  .mzp-l-card-quarter .mzp-c-card {
    margin-left: 0;
    margin-right: 32px;
  }
  [dir='rtl'] .mzp-l-card-quarter .mzp-c-card {
    margin-left: 32px;
    margin-right: 0;
  }
  .mzp-l-card-quarter .mzp-c-card:nth-child(even) {
    margin-left: 0;
    margin-right: 32px;
  }
  [dir='rtl'] .mzp-l-card-quarter .mzp-c-card:nth-child(even) {
    margin-left: 32px;
    margin-right: 0;
  }
  .mzp-l-card-quarter .mzp-c-card:nth-child(4n) {
    margin-right: 0;
  }
  [dir='rtl'] .mzp-l-card-quarter .mzp-c-card:nth-child(4n) {
    margin-right: 0;
    margin-left: 0;
  }
  .mzp-l-card-quarter .mzp-c-card:nth-child(4n + 1) {
    clear: left;
  }
  [dir='rtl'] .mzp-l-card-quarter .mzp-c-card:nth-child(4n + 1) {
    clear: right;
  }
}
@media (min-width: 480px) {
  .mzp-l-card-third {
    zoom: 1;
  }
  .mzp-l-card-third:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
  .mzp-l-card-third .mzp-c-card {
    width: calc(50% - (32px / 2));
  }
  .mzp-l-card-third .mzp-c-card {
    float: left;
    margin-left: 0;
    margin-right: 32px;
  }
  [dir='rtl'] .mzp-l-card-third .mzp-c-card {
    float: right;
    margin-left: 32px;
    margin-right: 0;
  }
  .mzp-l-card-third .mzp-c-card:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .mzp-l-card-third .mzp-c-card {
    width: calc(33.3% - (32px - (32px / 3)));
  }
  .mzp-l-card-third .mzp-c-card:nth-child(even) {
    margin-left: 0;
    margin-right: 32px;
  }
  [dir='rtl'] .mzp-l-card-third .mzp-c-card:nth-child(even) {
    margin-left: 32px;
    margin-right: 0;
  }
  .mzp-l-card-third .mzp-c-card:nth-child(3n) {
    margin-right: 0;
  }
  [dir='rtl'] .mzp-l-card-third .mzp-c-card:nth-child(3n) {
    margin-right: 0;
    margin-left: 0;
  }
  .mzp-l-card-third .mzp-c-card:nth-child(3n + 1) {
    clear: left;
  }
  [dir='rtl'] .mzp-l-card-third .mzp-c-card:nth-child(3n + 1) {
    clear: right;
  }
}
@media (min-width: 768px) {
  .mzp-l-card-third {
    zoom: 1;
  }
  .mzp-l-card-third:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
  .mzp-l-card-third .mzp-c-card-picto {
    width: 33.3%;
  }
  .mzp-l-card-third .mzp-c-card-picto {
    float: left;
  }
  [dir='rtl'] .mzp-l-card-third .mzp-c-card-picto {
    float: right;
  }
}
@media (min-width: 480px) {
  .mzp-l-card-half {
    zoom: 1;
  }
  .mzp-l-card-half:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
  .mzp-l-card-half .mzp-c-card {
    float: left;
    margin-left: 0;
    margin-right: 32px;
  }
  [dir='rtl'] .mzp-l-card-half .mzp-c-card {
    float: right;
    margin-left: 32px;
    margin-right: 0;
  }
  .mzp-l-card-half .mzp-c-card:nth-child(2n) {
    margin-left: 0;
    margin-right: 0;
  }
  .mzp-l-card-half .mzp-c-card:nth-child(2n + 1) {
    clear: left;
  }
  [dir='rtl'] .mzp-l-card-half .mzp-c-card:nth-child(2n + 1) {
    clear: right;
  }
  .mzp-l-card-half .mzp-c-card {
    width: calc(50% - (32px - (32px / 2)));
  }
}
@media (min-width: 768px) {
  .mzp-l-card-half {
    zoom: 1;
  }
  .mzp-l-card-half:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }
  .mzp-l-card-half .mzp-c-card-picto {
    width: 50%;
  }
  .mzp-l-card-half .mzp-c-card-picto {
    float: left;
  }
  [dir='rtl'] .mzp-l-card-half .mzp-c-card-picto {
    float: right;
  }
}

/* -------------------------------------------------------------------------- */
// OLD CSS BELOW - WILL BE REFACTORED/REMOVED

// .section-header,
.card-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;

  @media #{$mq-md} {
    max-width: 1024px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    max-width: 300px;
    margin-right: $grid-gap;
  }

  .card-featured {
    max-width: 480px;
  }

  .card-link {
    flex-grow: 1;
    margin-bottom: 24px;
  }
}

.filter-list-sidebar {
  margin-right: $grid-gap;
}

.item-topic-link {
  max-width: 320px;
  margin-bottom: 24px;
}

@supports (display: grid) {
  .card-container {
    display: grid;
    grid-gap: $grid-gap-mobile;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: unset;

    @media #{$mq-md} {
      grid-column-gap: $grid-gap;
      grid-row-gap: 24px;
    }

    .card {
      max-width: none;
    }

    .card-featured {
      max-width: unset;
      margin-right: unset;
    }

    .card-link {
      flex-grow: 1;
      margin-bottom: unset;
    }
  }

  .card-container-2-wide {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }

  .filter-list-sidebar {
    margin-right: 0;
  }

  .item-topic-link {
    max-width: unset;
    margin-bottom: unset;
  }
}

.card-container-people {
  align-items: center;
  display: flex;
  flex-direction: column;

  .card-link,
  > .card-person-speaker {
    width: 100%;
  }

  @media #{$mq-md} {
    display: grid;
  }
}

.card {
  .card-container & {
    height: 100%;
  }

  h4 {
    margin-bottom: 0;
    text-align: left;
  }

  .resource-meta {
    margin-bottom: 8px;
  }
}

.card-full {
  @media #{$mq-md} {
    flex-direction: row;

    .card-image {
      padding-top: 40%;
      width: 50%;
    }

    .card-content {
      width: 50%;
    }
  }

  .card-content {
    h4 {
      margin-bottom: 16px;
    }

    p {
      color: $color-nevada;
    }
  }
}

.card-link {
  color: inherit;
  height: 100%;

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:active {
    background: none;
  }

  &:last-child .card {
    margin-bottom: 0;
  }

  &[data-type='person'] .card-image {
    filter: grayscale(1);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px;
}

.card-content-main {
  flex-grow: 1;
}

.card-image {
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 56.25%;
}

.card-image-square {
  padding-top: 100%;
}

.card-image-wide {
  padding-top: 25%;
}

.card-overflow {
  display: none;
  @media #{$mq-md} {
    display: block;
  }
}
