.header-strip {
  background-color: $color-black;
  color: $color-white;

  .icon-wrapper {
    float: left;
    fill: currentColor;

    img,
    svg {
      fill: currentColor;
      height: 52px;
      padding-top: 12px;
      margin-left: -13px;

      @media #{$mq-sm} {
        height: 60px;
        padding-top: 14px;
        margin-left: -13px;
      }

      g {
        path {
          fill: currentColor;
        }
      }
    }

    img {
      padding-left: 13px;
    }
  }

  .header-wrapper {
    @media #{$mq-sm} {
      padding-left: 48px;
    }
    h1 {
      float: left;
      margin: $spacing-sm 0 $spacing-md;
    }
    .plaintext-standfirst {
      clear: both;
    }
  }
}
