.header {
  border-bottom: 1px solid $color-gray-20;
  // FIX required for mzp
  box-sizing: unset;
}

.header-container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding: 0 $grid-gap;
}
