.header {
  // FIX required for mzp
  .mzp-c-navigation-menu {
    box-sizing: unset;
  }

  .mzp-c-navigation-logo {
    margin-top: 23px; // 1px less than default, but is noticeable if not set
  }

  .mzp-c-navigation-logo a {
    background-image: url('../img/logos/developer/black.svg');
    height: auto;
    width: auto;
    margin-top: 9px;
    background-size: 160px;
    @media #{$mq-md} {
      height: 42px;
      width: 114px;
      margin-top: 9px;
      background-size: 100%;
    }
  }
  .mzp-c-menu-item {
    padding: 0px 24px 12px 0px;
    .mzp-c-menu-item-desc {
      margin: $spacing-sm 0 0 $spacing-2xl;

      p {
        margin-bottom: 0px;
      }
    }

    .mzp-c-menu-item-link {
      padding-bottom: 0px;
      .mzp-c-menu-item-icon {
        top: 0px;
        @media #{$mq-md} {
          top: 8px;
        }
      }
    }
  }
}
