.header {
  // FIX required for mzp
  .mzp-c-navigation-menu {
    box-sizing: unset;
  }

  .mzp-c-navigation-logo {
    /* On mobile: set a negative margin to align better with hamburger menu. Remember
      that the Mozilla Developer logo is taller than the black Mozilla bar on its own */
    margin-top: -10px;
    width: 165px; // This is to ensure the logo doesn't flow under the hamburger on mobile Safari

    @media #{$mq-md} {
      /* wider viewports need some specific tweaks to override the mobile defaults */
      margin-top: 23px; // 1px less than default, but is noticeable if not set
      width: 114px;
    }
  }

  .mzp-c-navigation-logo a {
    background-image: url('../img/logos/developer/black.svg');
    height: auto;
    width: auto;
    margin-top: 9px;
    background-size: 160px;
    @media #{$mq-md} {
      height: 42px;
      width: 114px;
      margin-top: 9px;
      background-size: 100%;
    }
  }
  .mzp-c-menu-item {
    padding: 0px 24px 12px 0px;
    .mzp-c-menu-item-desc {
      margin: $spacing-sm 0 0 $spacing-2xl;

      p {
        margin-bottom: 0px;
      }
    }

    .mzp-c-menu-item-link {
      padding-bottom: 0px;
      .mzp-c-menu-item-icon {
        top: 0px;
        @media #{$mq-md} {
          top: 8px;
        }
      }
    }
  }
}

.mzp-c-menu-category-list .site-search-form {
  margin: 4px 0px 0px 0px;
  padding: $spacing-lg 0;

  @media #{$mq-md} {
    margin: 4px 0px 0px 0px;
    padding: 0 0 0 $spacing-md;
  }
  input.site-search-field {
    width: 100%;
    @media #{$mq-md} {
      width: 200px;
    }
    @media #{$mq-xl} {
      width: 100%;
    }
  }
}
