.header-strip {
  background-color: $color-black;
  color: $color-white;
  @media #{$mq-md} {
    margin-bottom: 76px; // + 24px from mzp-l-content == 100px
    padding: $spacing-md 0px;
  }

  .icon-wrapper {
    display: none;
    visibility: hidden;
    @media #{$mq-sm} {
      display: inherit;
      visibility: visible;
    }
    fill: currentColor;
    float: left;

    img,
    svg {
      fill: currentColor;
      height: 52px;
      margin-left: -13px;
      padding-top: 12px;

      @media #{$mq-sm} {
        height: 60px;
        margin-left: -13px;
        padding-top: 14px;
      }

      g {
        use,
        path {
          fill: currentColor;
        }
      }
    }

    &.from-url img {
      display: inline-block;
      margin-top: 2px;
      max-height: 54px;
      max-width: 60px;
      padding-left: 9px;

      &.events-icon {
        margin-top: 0px;
        max-height: 60px;
        max-width: 60px;
      }
    }
  }

  .header-wrapper {
    @media #{$mq-sm} {
      padding-left: 48px;
      &.no-icon {
        padding-left: 0px;
      }
    }
    h1 {
      float: left;
      margin: $spacing-sm 0 $spacing-md;
    }
    .standfirst-wrapper {
      @media #{$mq-sm} {
        margin-bottom: 16px;
        max-width: 66%;
      }
      .custom-standfirst {
        clear: both;
      }
    }
  }
}
