.item-topic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-topic-link {
  text-decoration: none;

  h4 {
    background-color: $color-white;
    color: $color-purple-70;
    display: inline-block;
    margin-bottom: 0;
  }
  
  h5 {
    margin-top: 8px;
    text-align: center;
  }
}

.item-topic-link-bg {
  align-items: center;
  background-color: $color-purple-70;
  border-radius: 50%;
  display: flex;
  height: 130px;
  justify-content: center;
  width: 130px;
}
