.item-topic-link {
  background-color: $color-white;
  color: inherit;
  display: flex;
  padding: 20px;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: inherit;
  }

  p {
    margin: 0;
  }
}

.item-topic-link-icon {
  flex-shrink: 0;
  margin-right: 16px;
  padding-top: 4px;

  img {
    width: 24px;
  }
}

.item-topic-link-content {
  flex-grow: 1;
}
