.item-mozillian {
  text-align: center;

  img {
    clip-path: circle(45%);
  }

  p,
  a {
    background-color: $color-black;
    color: $color-white;
  }

  p {
    box-decoration-break: clone;
    box-shadow: 0 0 0 3px $color-black;
    display: inline;
    font-size: 14px;
    left: 4px;
    position: relative;
  }

  a {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 12px 8px;
  }
}
