// @media (max-width: 768px) {
//   .mozillian .mozillian-content {
//     left: 20%;
//     width: 80%;
//   }
// }


//   .mozillian:not(:first-child) .mozillian-content {
//     left: 20%;
//     width: 80%;
//   }
// }

.mozillian {
  position: relative;

  @media #{$mq-md} {
    width: 25%;
  }

  &:first-child {
    @media #{$mq-md} {
      width: 50%;
    }
  }

  img {
    clip-path: circle(45%);
  }

  h3,
  p,
  a {
    background-color: $color-black;
    color: $color-white;
  }

  h3 {
    display: inline-block;
    margin-bottom: 8px;

    .mozillian:not(:first-child) & {
      font-size: 22px;
    }
  }

  p {
    box-decoration-break: clone;
    box-shadow: 0 0 0 3px $color-black;
    display: inline;
    font-size: 14px;
    left: 4px;
    position: relative; 
  }

  a {
    display: inline-block;
    margin-top: 8px;
    padding: 4px 12px 8px;
  }
}

.mozillian-content {
  left: 40%;
  position: absolute;
  top: 50%;
  z-index: 1;
}
