.item-get-started {
  background-color: $color-black;
  margin-bottom: 8px;
  padding: 40px;
  width: 100%;

  @media #{$mq-md} {
    margin-bottom: 0;
    width: 32%;
  }

  h5 {
    background-color: $color-green-40;
    display: inline-block;
    font-weight: normal;
  }
  
  p,
  a {
    color: $color-green-40;
  }
}
