.item-person {
  color: $color-black;
  display: inline-block;
  margin-bottom: 32px;
  text-align: center;

  img {
    border-radius: 50%;
  }

  .highlight1 {
    background-color: unset;
  }

  @media #{$mq-md} {
    margin-bottom: 56px
  }
}
