.item-topic-link {
  align-items: center;
  background-color: $color-white;
  border: 2px solid $color-gray-20;
  border-radius: 2px;
  color: inherit;
  display: flex;
  padding: 24px;
  transition: box-shadow 100ms, transform 100ms;
  width: 100%;

  @media #{$mq-md} {
    align-items: unset;
  }

  &:hover {
    border-color: $color-black;
    box-shadow: 4px 4px 0 0 $color-black;
    color: inherit;
    transform: translate(-2px, -2px);
    text-decoration: none;
  }

  &:active {
    background-color: $color-white;
  }

  p {
    margin: 0;
  }
}

.item-topic-link-icon {
  flex-shrink: 0;
  font-size: 0; // Prevent spacing below icon.
  margin-right: 16px;
  padding-top: 4px;

  img {
    width: 24px;
  }
}

.item-topic-link-content {
  max-width: 672px;

  @media #{$mq-md} {
    flex-grow: 1;
  }

  h4 {
    margin: 8px 0;
  }

  .rich-text {
    display: none;

    @media #{$mq-md} {
      display: block;
    }
  }
}

.item-topic-link-full {
  flex-direction: column;
  padding-left: 96px;
}
