.mzp-c-notification-bar {
  .mzp-c-notification-bar-cta {
    text-decoration: underline;
    &:hover {
      color: $color-gray-40;
    }
  }

  .mzp-c-notification-bar-button {
    right: $spacing-xs;
    top: $spacing-xs;
  }
}
