.pagination-block {
  margin-top: $spacing-md;
  margin-bottom: $spacing-2xl;
  text-align: center;

  & .mzp-c-button {
    min-width: 90px;

    @media #{$mq-sm} {
      min-width: 135px;
      padding: 14px 30px;
    }
  }
}

.pagination-current {
  display: inline-block;
  margin: auto $spacing-md;
}
