.pagination-block {
  margin-top: $spacing-md;
  margin-bottom: $spacing-2xl;
  text-align: center;

  & .mzp-c-button {
    @media #{$mq-md} {
      padding: 14px 30px;
      // This is the default for mzp-c-button, but we
      // want to override mzp-t-small on larger viewports
    }
  }
}

.pagination-current {
  display: inline-block;
  margin: auto $spacing-md;
}
