.related-links {
  border: 2px solid $color-marketing-gray-20;
  border-radius: 2px;
  margin-bottom: 24px;
}

.related-links-header {
  align-items: center;
  color: $color-white;
  background: $color-black;
  border-radius: 2px 2px 0 0;
  display: flex;
  margin: -2px -2px 0;
  padding: 16px;

  h4 {
    margin-bottom: 0;
    margin-left: 16px;
  }
}

.related-links-links {
  padding: 24px;

  ul {
    margin-bottom: 0;
  }

  li:not(:last-child) {
    margin-bottom: 16px;
  }

  a {
    align-items: center;
    display: flex;

    &:hover {
      text-decoration: none;

      .related-links-link-text {
        text-decoration: underline;
      }
    }
  }
}
