.resource-topic-tags {
  display: flex;
  flex-flow: row wrap;
  margin-right: 16px;
}

.resource-topic-tag a {
  background-color: $color-tag-background;
  border: 1px solid;
  border-radius: .2em;
  display: block;
  font-weight: bold;
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 4px 8px;
  transition: box-shadow 100ms, transform 100ms;
  will-change: box-shadow, transform;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
    will-change: auto;
  }

  &:hover {
    box-shadow: 2px 2px 0 0;
    text-decoration: none;
    transform: translate(0, -1px);

    @media (prefers-reduced-motion: reduce) {
      box-shadow: none;
      opacity: 0.8;
      transform: none;
    }
  }
}
