.resource-meta {
  color: $color-gray-60;
  display: inline-block;
  font-size: 12px;

  .icon svg {
    width: 16px;
  }
}

.resource-meta-body {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
}
