.resource-share {
  align-items: center;
  display: flex;

  // these take a different style to other icons in the site
  .icon {
    background: $color-black;
    border-radius: 50%;
    color: $color-white;
    display: inline-block;
    fill: currentColor;
    height: 28px;
    line-height: 0;
    padding: 6px 2px;
    vertical-align: middle;
    width: 28px;
  }
}

.resource-share-buttons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-size: 12px;
  justify-content: flex-end;
  text-align: right;

  a {
    align-items: center;
    color: inherit;
    display: flex;
    height: 36px;
    justify-content: center;
    padding: 0 4px;
    text-decoration: none;
    width: 36px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    svg {
      width: 24px;
    }
  }
}

.resource-share-buttons-label {
  margin: auto 0;
  padding-right: 8px;
}
