{% load app_filters %}
<style>
  ::selection { background: {{ color | hex_to_rgb:'rgba({r}, {g}, {b}, 0.2)' }}; }
  .color-accent { color: {{ color }}; }
  .background-accent { background: {{ color }}; }
  .pattern-bg-header .pattern { fill: {{ color }}; }
  .article-header-pattern .pattern { fill: {{ color }}; }
  .article-sidebar .card-topic .pattern { fill: {{ color }}; }
  .topic-icon-tile { fill: {{ color }}; stroke: {{ color }}; }
  h2:not(.no-underline), h3:not(.no-underline), h4:not(.no-underline), h5:not(.no-underline), h6:not(.no-underline) { background: repeating-linear-gradient(to bottom, transparent 0, transparent .8em, {{ color | hex_to_rgb:'rgba({r}, {g}, {b}, 0.5)' }} .8em, {{ color | hex_to_rgb:'rgba({r}, {g}, {b}, 0.5)' }} 1.1em); }
</style>
