<style>
  .color-accent { color: {{ color }}; }
  .background-accent { background: {{ color }}; }
  .topic-header .pattern { fill: {{ color }}; }
  .article-header-pattern .pattern { fill: {{ color }}; }
  .article-sidebar .card-topic .pattern { fill: {{ color }}; }
  .topic-icon-tile { fill: {{ color }}; stroke: {{ color }}; }
  h2:not(.no-underline), h3:not(.no-underline), h4:not(.no-underline), h5:not(.no-underline), h6:not(.no-underline) { background: repeating-linear-gradient(to bottom, transparent 0, transparent .8em, {{ color }} .8em, {{ color }} 1.1em); }
</style>
