{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image page.image width-464 as image %}
{% image page.card_image width-464 as card_image %}
{% if type == "event" %}
  {% static "img/placeholders/event.jpg" as fallback_image %}
{% else %}
  {% static "img/placeholders/article.jpg" as fallback_image %}
{% endif %}

<header class="section section-background article-header">
  <div class="container">
    <div class="article-header-container">
      <div class="article-header-pattern">
        {% include "atoms/pattern.html" %}
      </div>
      <div class="article-header-expand">
        <div class="article-header-image">
          {% if image %}
            <img
              src="{{ image.url }}"
              width="{{ image.width }}"
              height="{{ image.height }}"
              alt="{{ image.alt }}"
            >
          {% elif card_image %}
            <img
              src="{{ card_image.url }}"
              width="{{ card_image.width }}"
              height="{{ card_image.height }}"
              alt="{{ card_image.alt }}"
            >
          {% else %}
            <img src="{{ fallback_image }}" width="464" alt="">
          {% endif %}
        </div>
        <div class="article-header-details">
          {% if type == 'event' and page.is_upcoming %}
            <div class="article-header-highlight">
              <span class="highlight">Upcoming event</span>
            </div>
          {% endif %}
          <h1>{{ title }}</h1>
          <div class="article-header-subtitle">
            {% if description %}
              {{ description | richtext }}
            {% endif %}
          </div>
          {% include "molecules/article-details.html" with date=date authors=authors %}
        </div>
      </div>
    </div>
  </div>
</header>
