{% load wagtailimages_tags %}
{% image header_image width-464 as header_image %}

<header class="article-header">
  <div class="article-header-container">
    <div class="article-header-image">
      <img 
        src="{{ header_image.url }}" 
        width="{{ header_image.width }}"
        height="{{ header_image.height }}" 
        alt="{{ header_image.alt }}" />
      <div class="article-header-pattern">
        {% include "atoms/pattern.html" with name="article-header" %}
      </div>
    </div>
    <div class="article-header-details">
      <div class="article-header-highlight">
        <span class="highlight">Featured</span>
      </div>
      <h2>{{ title }}</h2>
      <div class="article-header-subtitle">
        {{ intro }}
      </div>
      {% include "molecules/article-details.html" with date=date author=author %}
    </div>
  </div>
</header>
