{% load wagtailcore_tags %}

{% if page.related_resources %}
<div class="article-read-more">
  <div class="mzp-l-content">
    <div class="section-header">
      <h4>More posts on this topic
        <span>
          <a href="{% pageurl directory_pages.articles %}?topic={{ page.primary_topic.slug }}">See all</a>
        </span>
      </h4>
    </div>

    <div class="mzp-l-card-third">
    {% for page in page.related_resources|slice:":3" %}
      <div class="mzp-c-card mzp-c-card-small mzp-has-aspect-16-9">
          {% include "molecules/card-featured.html" with resource=page block_type=page.block_type %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endif %}
