{% if resource.latitude and resource.longitude %}
<div class="event-map">
  <h2>Venue</h2>
  <div class="map-mzp-l-content">
    <div class="h-card">
      <h5 class="p-name no-underline">
        {% if resource.venue_url %}
        <a href="{{ resource.venue_url }}" class="u-url external-link" target="_blank" rel="nofollow noopener">
          {{ resource.venue_name }}
        </a>
        {% else %}
        {{ resource.venue_name }}
        {% endif %}
      </h5>
      <p class="h-adr">
        <span class="p-street-address">{{ resource.address_line_1 }}{% if resource.address_line_2 %}, {{ resource.address_line_2 }}{% endif %}{% if resource.address_line_3 %}, {{ resource.address_line_3 }}{% endif %}</span>,
        <br>
        <span class="p-locality">{{ resource.city }}</span>,
        <span class="p-postal-code">{{ resource.zip_code }}</span>,
        <span class="p-country-name">{{ resource.country }}</span>
      </p>
    </div>
    <div class="map"
      id="map1"
      data-map-id="map1"
      data-lat="{{ resource.latitude }}"
      data-lng="{{ resource.longitude }}"
      data-venue="{{ resource.venue }}">
    </div>
  </div>
</div>
<script>
mapboxgl.accessToken = '{{ MAPBOX_ACCESS_TOKEN }}';
</script>
{% endif %}
