{% load app_filters %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="container event-speakers">
  <div class="section-header">
    <h2>Speakers</h2>
  </div>
  <div class="card-container card-container-people">
    {% for block in speakers|list|slice:":6" %}
      {% with block.value as speaker %}
        {% include "molecules/item-person.html" with person=speaker type=block.block_type %}
      {% endwith %}
    {% endfor %}
  </div>
  {% with speakers|list|slice:"6:" as speaker_rest %}
    {% if speaker_rest %}
      <div class="event-speakers-more">
        <div class="event-speakers-actions">
          <button class="mzp-c-button js-toggle" data-controls="#speaker-list" data-hide>See all</button>
        </div>
        <div class="card-container card-container-people" id="speaker-list" hidden>
          {% for block in speaker_rest %}
            {% with block.value as speaker %}
              {% include "molecules/item-person.html" with person=speaker type=block.block_type %}
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endwith %}
</div>
