{% load wagtailcore_tags app_filters app_tags %}
{% comment %}

Render between TWO and FIVE featured items in an adaptive layout

Five items:
[ 1 ] [ 2 ]
[3] [4] [5]

Four items:
[ 1 ] [ 2 ]
[ 3 ] [ 4 ]

Three items:
[1] [2] [3]

Two items:
[ 1 ] [ 2 ]

{% endcomment %}

<ul class="featured-items-wrapper">

  {% split_featured_items featured as split_featured %}

  {% comment %}


  `split_featured` returns an iterable of dicts where each dict represents a list of
  items to render on a particular row
  [
      {
          items: <List>
          count: <int>
      },
      ...
  ]

  {% endcomment %}

  {% for row in split_featured %}
    <li>

    {% if row.count == 2 %}
    <ul class="mzp-l-card-half">
      {% for block in row.items %}
        <li class="mzp-c-card mzp-c-card-medium mzp-has-aspect-3-2">
          {% include "organisms/partials/featured-card-selector.html" with aspect_ratio="3_2" %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if row.count == 3 %}
      <ul class="mzp-l-card-third">
        {% for block in row.items %}
            <li class="mzp-c-card mzp-c-card-small mzp-has-aspect-16-9">
              {% include "organisms/partials/featured-card-selector.html" %}
            </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if row.count == 4 %}
      <ul class="mzp-l-card-quarter">
        {% for block in row.items %}
            <li class="mzp-c-card mzp-c-card-extra-small mzp-has-aspect-16-9">
              {% include "organisms/partials/featured-card-selector.html" %}
            </li>
        {% endfor %}
      </ul>
    {% endif %}

  </li>
  {% endfor %}
</ul>
