{% load app_tags %}

<div class="mzp-l-content mzp-has-sidebar mzp-l-sidebar-left">
  {% if heading %}
    <h2 {% if heading_class %}class="{{heading_class}}"{% endif %}>
      {{ heading }}
    </h2>
  {% endif %}
  <aside class="mzp-l-sidebar custom-width">
    {% comment %} filtering controls {% endcomment %}
    {% selected_filter_summary request %}
    <details class="filter-list-sidebar-content filter-list-sidebar-content-mobile">
      <summary>Filter</summary>
      {% include "molecules/filter-form.html" with resources=resources filters=filters %}
    </details>
    <div class="filter-list-sidebar-content filter-list-sidebar-content-desktop">
      {% include "molecules/filter-form.html" with resources=resources filters=filters %}
    </div>
  </aside>
  <div class="mzp-l-main custom-width">
    <div class="mzp-l-card-half" id="{{ type }}-cards">
      {% for resource in resources %}
        {% if type == "article_or_video" %}
          {% if resource.video %}
            {% include "molecules/cards/card.html" with resource=resource.video %}
          {% else %}
            {% include "molecules/cards/card.html" with resource=resource.article show_author=True %}
          {% endif %}
        {% elif type == "person" %}
          {% include "molecules/cards/card.html" with resource=resource.person %}
        {% elif type == "event" %}
          {% include "molecules/cards/card.html" with resource=resource.event %}
        {% endif %}
      {% empty %}
      <h2 class="filter-list-no-results">
        {{ no_resources_message|default:"No results found" }}
      </h2>
      {% endfor %}
    </div>
    {% if resources and not hide_pagination %}
    {% include "molecules/pagination.html" with items=resources %}
    {% endif %}
  </div>
</div>
