{% comment %}
Inputs:
  items: <List>( <StreamChild> )
  header_text: <str> - custom header text for the panel, mandatory
  show_dates: <Boolean> - whether the quarter-page-item molecule should show dates, if available, else follow the show_domain logic below
  show_domain: <Boolean> - whether the quarter-page-item molecule should show a domain or default to the primary topic
  tinted_panel: <Boolean> - whether this panel is on a tinted background or not

{% endcomment %}

{% if items %}
{# Render cards side by side, up to four, always same width #}
<div class="four-card-row {% if tinted_panel %}has-tint{% endif %}">
  <div class="mzp-l-content">
    {% if header_text %}
    <h2>{{header_text}}</h2>
    {% endif %}
    <div class="mzp-l-card-quarter">
      {% for block in items %}
        {% if block.block_type == 'post' or block.block_type == 'video' or block.block_type == 'event' %}
          {% with block.value as page %}
            {% include "molecules/quarter-page-item.html" with resource=page.specific block_type=block.block_type show_domain=show_domain %}
          {% endwith %}
        {% elif block.block_type == 'external_page' %}
          {% with block.value as external_page %}
            {% include "molecules/quarter-page-item.html" with resource=external_page external_page=True block_type=block.block_type show_domain=show_domain %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
