{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_filters %}

<div id="get-started" class="get-started">
  <div class="section-header">
    <h2>Get started</h2>
  </div>
  <div class="get-started-mobile">
    {% for block in page.get_started %}
      {% image block.value.image width-190 as i %}
      <details {% if forloop.first %}open=""{% endif %}>
        <summary>
          <h3 class="no-underline">{{ block.value.title }}</h3>
        </summary>
        <div class="get-started-content">
          <img
            src="{{ i.url }}"
            width="{{ i.width }}"
            height="{{ i.height }}"
            alt="{{ i.alt }}" />
          <p>{{ block.value.description }}</p>
          <a href="{% pageurl block.value.button_destination %}" class="mzp-c-button mzp-t-small">
            {{ block.value.button_text }}
          </a>
        </div>
      </details>
    {% endfor %}
  </div>

  <div class="get-started-desktop">
    <div class="get-started-content-wrapper">
      {% for block in page.get_started %}
        {% image block.value.image width-190 as i %}
        <div class="get-started-content-bg displayed" data-hash="{{ block.value.title|lower }}">
          <div class="get-started-content">
            <img
              src="{{ i.url }}"
              width="{{ i.width }}"
              height="{{ i.height }}"
              alt="{{ i.alt }}" />
            <p>{{ block.value.description }}</p>
            <a href="{% pageurl block.value.button_destination %}" class="mzp-c-button mzp-t-small">
                {{ block.value.button_text }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="get-started-nav hidden" id="get-started-nav">
      {% for block in page.get_started %}
        <a href="#{{ block.value.title|lower }}" class="get-started-toggle {% if forloop.first %}highlight2-inverse{% else %}highlight2{% endif %}">
          <span>{{ block.value.title }}</span>
        </a>
      {% endfor %}
    </nav>
  </div>
</div>
