{% load app_filters %}

<section id="get-started" class="get-started">
  <div class="section-header">
    <h2>Get started</h2>
  </div>

  <div class="get-started-mobile">
    <details>
      <summary>
        <h3>Create</h3>
      </summary>
      <div class="get-started-content">
        <img src="https://via.placeholder.com/180x200"/>
        <p>Build your first stylesheet and learn the basics of</p>
        <button class="mzp-c-button mzp-t-small">
          Learn more
        </button>
      </div>
    </details>
    <details>
      <summary>
        <h3>Explore</h3>
      </summary>
      <div class="get-started-content">
        <img src="https://via.placeholder.com/180x200"/>
        <p>Explore</p>
        <p>Some exploring to do...</p>
        <button class="mzp-c-button mzp-t-small">
          Learn more
        </button>
      </div>
    </details>
    <details>
      <summary>
        <h3>Collaborate</h3>
      </summary>
      <div class="get-started-content">
        <img src="https://via.placeholder.com/180x200"/>
        <p>Collaborate</p>
        <button class="mzp-c-button mzp-t-small">
          Learn more
        </button>
      </div>
    </details>
  </div>

  <div class="get-started-desktop">
    <div class="get-started-content-wrapper">
      <div class="get-started-content-bg displayed" data-hash="create">
        <div class="get-started-content">
          <img src="https://via.placeholder.com/180x200"/>
          <p>Build your first stylesheet and learn the basics of</p>
          <button class="mzp-c-button mzp-t-small">
            Learn more
          </button>
        </div>
      </div>
      <div class="get-started-content-bg displayed" data-hash="explore">
        <div class="get-started-content">
          <img src="https://via.placeholder.com/180x200"/>
          <p>Explore</p>
          <button class="mzp-c-button mzp-t-small">
            Learn more
          </button>
        </div>
      </div>
      <div class="get-started-content-bg displayed" data-hash="collaborate">
        <div class="get-started-content">
          <img src="https://via.placeholder.com/180x200"/>
          <p>Collaborate</p>
          <button class="mzp-c-button mzp-t-small">
            Learn more
          </button>
        </div>
      </div>
    </div>
    <nav class="get-started-nav hidden" id="get-started-nav">
      <a href="#create" class="get-started-toggle active">
        <span>Create</span>
      </a>
      <a href="#explore" class="get-started-toggle">
        <span>Explore</span>
      </a>
      <a href="#collaborate" class="get-started-toggle">
        <span>Collaborate</span>
      </a>
    </nav>
  </div>
</section>