<section id="newsletter" class="section section-background newsletter-signup">
  <div class="container">
    <h2 class="no-underline">Learn the best of web development</h2>
    <p>Sign up for the Mozilla Developer Newsletter:</p>
    <form action="https://www.mozilla.org/en-US/newsletter/" method="post" target="_blank">
      <input type="hidden" name="newsletters" value="app-dev">
      <input type="hidden" name="fmt" value="H">
      <p>
        <label for="newsletter-email">Email address</label>
        <input type="email" name="email" id="newsletter-email" placeholder="you@example.com" required aria-required="true">
      </p>
      <p>
        <label for="newsletter-privacy" class="mzp-u-inline">
          <input type="checkbox" name="privacy" id="newsletter-privacy" required aria-required="true">
          I'm okay with Mozilla handling my info as explained in this <a class="privacy-link" href="https://www.mozilla.org/en-US/privacy/websites/" target="_blank" rel="noopener noreferrer">Privacy Notice</a>.
        </label>
      </p>
      <p>
        <button type="submit" class="mzp-c-button mzp-t-small mzp-t-dark">Sign up now</button>
      </p>
    </form>
  </div>
</section>
