<header class="pattern-bg-header">
  <div class="pattern-bg-header-container">
    <div class="pattern-bg-header-icon">
      {% if type == 'person' %}
        {% include "atoms/person-icon.html" with role=role %}
      {% else %}
        {% include "atoms/topic-icon.html" with icon=icon %}
      {% endif %}
    </div>
    <div class="pattern-bg-header-details">
      <h1>{{ title }}</h1>
      <p class="pattern-bg-header-subtitle">
        {{ description }}
      </p>
    </div>
  </div>
  {% include "atoms/pattern.html" %}
</header>
