{% load wagtailcore_tags %}

<header class="section section-background pattern-bg-header">
  <div class="container">
    <div class="pattern-bg-header-container">
      <div class="pattern-bg-header-icon">
        {% if type == 'person' %}
          {% include "atoms/person-icon.html" with role=role %}
        {% else %}
          {% include "atoms/topic-icon.html" with icon=icon %}
        {% endif %}
      </div>
      <div class="pattern-bg-header-details">
        <h1>{{ title }}</h1>
        {% if description %}
          <div class="pattern-bg-header-subtitle">
            {{ description | richtext }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include "atoms/pattern.html" %}
</header>
