{% comment %}
  Context:
  * is_topic  - Whether the current page is a Topic page, default: None
  * people    - Iterable QuerySet or list of Person pages, default: None
  * show_link - Whether to show ‘See more’ link, default: None
  * title     - Optional custom title for the section, default: "People"
{% endcomment %}

{% load wagtailcore_tags %}

<div class="container">
  <div class="section-header">
    <h2>{{ title|default:"People" }}</h2>
    {% if show_link and directory_pages.people %}
      <a href="{% pageurl directory_pages.people %}{% if is_topic %}?topic={{ page.slug }}{% endif %}">See more</a>
    {% endif %}
  </div>
  {% if people|length == 1 %}
    {# a single person is rendered full width #}
    <div>
      {% with people.0 as person %}
        {% include "molecules/item-person.html" with person=person type="person" full_width=True %}
      {% endwith %}
    </div>
  {% else %}
    {# 2 or 3 are rendered side-by-side #}
    <div class="card-container {% if people|length == 2 %}card-container-2-wide{% endif %}">
      {% for person in people %}
        {% include "molecules/item-person.html" with person=person type="person" full_width=False %}
      {% endfor %}
    </div>
  {% endif %}
</div>
