{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_tags %}

{% image resource.image fill-640x640 as image %}

{% if resource.role == "staff" %}
  {% static "img/placeholders/mozillian.jpg" as fallback_image %}
{% else %}
  {% static "img/placeholders/person.jpg" as fallback_image %}
{% endif %}

<div class="person-overview">
  <div class="person-overview-details">
    <h2>About me</h2>
    {% make_list_from_args resource.city resource.country as location %}
    {% if location %}
      <div class="card-event-location">
        <span class="icon">{% include "atoms/icons/location.svg" %}</span>
        {{ location | join:', ' }}
      </div>
    {% endif %}
    {% if resource.description %}
      {{ resource.description | richtext }}
    {% endif %}
    {% include "molecules/person-contact.html" with resource=resource %}
  </div>
  <div class="person-overview-image-mzp-l-content">
    <div class="person-overview-image">
      <img src="{% firstof image.url fallback_image %}" alt="" width="320" height="320">
      <div class="highlight1">
        {{ resource.title }}
      </div>
      <span class="heading5">{{ resource.job_title }}</span>
    </div>
  </div>
</div>
