{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_tags %}

<h2>Overview</h2>
<div class="person-overview">
  <div class="person-overview-details">
    {{ resource.description|richtext }}
    {% include "molecules/person-contact.html" with resource=resource %}
  </div>
  <div class="person-overview-image-container">
    <div class="person-overview-image">
      {% image resource.image width-320 as image %}
      <img src="{{ image.url }}" alt="{{ image.alt }}">
      <div class="highlight1">
        {{ resource.title }}
      </div>
      <span class="heading5">{{ resource.job_title }}</span>
    </div>
  </div>
</div>
