<div class="mzp-c-footer  social-links">
    <section class="mzp-l-content">
      <div class="mzp-c-footer-sections">
        <section class="mzp-c-footer-section link">
          <a href="https://hacks.mozilla.org/" rel="noopener">
            <img src="/static/img/logos/mdn-dino-white.svg" alt="" width="36" height="36" /><br>
            Mozilla Hacks Blog
          </a>
        </section>
        <section class="mzp-c-footer-section link">
          <a href="https://twitter.com/mozhacks" rel="noopener">
            <img src="/static/img/icons/social/twitter/white.svg" alt="" width="36" height="36" /><br>
            @mozhacks
          </a>
        </section>
        <section class="mzp-c-footer-section link">
          <a href="https://www.youtube.com/user/mozhacks" rel="noopener">
              <img src="/static/img/icons/social/youtube/white.svg" alt="" width="36" height="36" /><br>
              @mozhacks
          </a>
        </section>
        <section class="mzp-c-footer-section link">
          <a href="https://www.youtube.com/MozillaDeveloper" rel="noopener">
            <img src="/static/img/icons/social/youtube/white.svg" alt="" width="36" height="36" /><br>
            @MozillaDeveloper
          </a>
        </section>
      </div>
    </section>
</div>
