{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load app_filters %}

<div id="tabbed-panels" class="tabbed-panels js-tabbed-panels">
  {% if title %}
  <div class="section-header">
    <h2>{{ title }}</h2>
  </div>
  {% endif %}
  <div class="tabbed-panels-mobile">
    {% for block in resources %}
      {% image block.value.image width-190 as i %}
      <details {% if forloop.first %}open=""{% endif %}>
        <summary>
          <h3 class="no-underline">{{ block.value.title }}</h3>
        </summary>
        <div class="tabbed-panels-content">
          <img
            src="{{ i.url }}"
            width="{{ i.width }}"
            height="{{ i.height }}"
            alt="{{ i.alt }}" />
          <p>{{ block.value.description }}</p>
          {% if block.value.page_link %}
            <a href="{% pageurl block.value.page_link %}" class="mzp-c-button mzp-t-small">
              {{ block.value.button_text }}
            </a>
          {% else %}
            <a href="{{ block.value.external_link }}" class="mzp-c-button mzp-t-small" target="_blank" rel="nofollow noopener">
              {{ block.value.button_text }}
            </a>
          {% endif %}
        </div>
      </details>
    {% endfor %}
  </div>

  <div class="tabbed-panels-desktop">
    <div class="tabbed-panels-content-wrapper">
      {% for block in resources %}
        {% image block.value.image width-190 as i %}
        <div class="tabbed-panels-content-bg displayed" data-hash="{{ block.value.title|slugify }}">
          <div class="tabbed-panels-content">
            <img
              src="{{ i.url }}"
              width="{{ i.width }}"
              height="{{ i.height }}"
              alt="{{ i.alt }}" />
            <p>{{ block.value.description }}</p>
            {% if block.value.page_link %}
              <a href="{% pageurl block.value.page_link %}" class="mzp-c-button mzp-t-small">
                {{ block.value.button_text }}
              </a>
            {% else %}
              <a href="{{ block.value.external_link }}" class="mzp-c-button mzp-t-small" target="_blank" rel="nofollow noopener">
                {{ block.value.button_text }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <nav class="tabbed-panels-nav hidden" id="tabbed-panels-nav">
      {% for block in resources %}
        <a href="#{{ block.value.title|slugify }}" class="tabbed-panels-toggle {% if forloop.first %}highlight2{% else %}highlight2-inverse{% endif %}">
          <span>{{ block.value.title }}</span>
        </a>
      {% endfor %}
    </nav>
  </div>
</div>
