{% load app_filters %}

{% if topics %}
  <section class="pattern-section">
    <div class="pattern-section-background">
      <div class="pattern-section-pattern pattern-section-pattern-before">
        {% include "atoms/pattern.html" %}
      </div>
      <div class="container">
        <div class="section-header">
          {% if pagetheme == 'home' %}
            <h2>Browse by topic</h2>
          {% endif %}
          {% if pagetheme == 'topic' %}
            <h2>Continue exploring</h2>
          {% endif %}
          {% if pagetheme == 'person' %}
            <h2>Topics I'm interested in</h2>
          {% endif %}
        </div>
        {% if topics.count == 1 %}
        <div>
          {% include "molecules/item-topic-link.html" with topic=topics.0.topic full_width=True %}
        </div>
        {% else %}
        <div class="card-container {% if topics.count == 2 %}card-container-2-wide{% endif %}">
          {% for topic in topics %}
            {% include "molecules/item-topic-link.html" with topic=topic.topic %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="pattern-section-pattern pattern-section-pattern-after">
        {% include "atoms/pattern.html" %}
      </div>
    </div>
  </section>
{% endif %}
