{% load app_filters %}

<section class="topic-links-section">
  <div class="topic-links-section-pattern topic-links-section-pattern-before">
    {% include "atoms/pattern.html" with name="topic-link-before" %}
  </div>
  <div class="topic-links-background-container">
    <div class="topic-links-inner">
      <div class="section-header">
        {% if pagetheme == 'home' %}
          <h2>Browse by topic</h2>
        {% endif %}
        {% if pagetheme == 'topic' %}
          <h2>Continue exploring</h2>
        {% endif %}
      </div>
      <div class="card-container">
        {% for i in count|times %}
          {% include "molecules/item-topic-link.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="topic-links-section-pattern topic-links-section-pattern-after">
    {% include "atoms/pattern.html" with name="topic-link-after" %}
  </div>
</section>
