<header class="topic-header">
  <div class="topic-header-container">
    <div class="topic-header-icon">
      {% include "atoms/topic-icon.html" with icon="mixed-reality" %}
    </div>
    <div class="topic-header-details">
      <h1>{{ title }}</h1>
      <div>
        <p class="topic-header-subtitle highlighted-inline">
          <span>Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document written in HTML or XML (including XML dialects such as SVG, MathML or XHTML).</span>
        </p>
      </div>
    </div>
  </div>
  {% include "atoms/pattern.html" with name="topic-header" %}
</header>
