{% load wagtailcore_tags %}

<section class="section-full section-full-bg">
  <div class="section-full-container">
    <div class="section-header">
      <h2>Upcoming events</h2>
      <a href="/events">See more</a>
    </div>
    <div>
    {% for event in events|slice:":3" %}
      {% if forloop.counter == 1 %}
        {% include "molecules/cards/card.html" with resource=event featured=True %}
      {% else %}
        {% include "molecules/cards/card.html" with resource=event %}
      {% endif %}
    {% endfor %}
    </div>
  </div>
</section>
