html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $color-white;
  color: $color-black;
  margin: 0;
  min-width: 320px;
  padding: 0;
  font-size: 1rem;
}

[hidden],
.hidden {
  display: none !important;
}

::selection {
  background: rgba(255, 213, 103, 0.4);
}

:link {
  color: $color-moz-link;
  text-decoration: none;

  &:hover {
    color: $color-moz-link-hover;
    text-decoration: underline;
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

:visited {
  color: $color-moz-link-visited;

  &:hover {
    color: $color-moz-link-visited;
  }
}

.no-wrap {
  white-space: nowrap;
}

.mzp-c-button {
  // temporary workaround for https://github.com/mozilla/protocol/issues/602
  outline-style: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important; /* stylelint-disable-line declaration-no-important */
  width: 1px;
}
