html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $color-white;
  color: $color-black;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.mzp-l-content {
  max-width: $container-max-width + ($grid-gap * 2);
  min-width: none;
  padding: $grid-gap-mobile;

  @media #{$mq-md} {
    padding: $layout-xs $grid-gap;
  }

  @media #{$mq-lg} {
    padding: $layout-xs $grid-gap;
  }
}
