.container {
  padding: 0 $grid-gap-mobile;

  @media #{$mq-md} {
    margin: 0 auto;
    max-width: ($container-max-width + $grid-gap * 2);
    padding: 0 $grid-gap;
    position: relative;
  }
}

// h2::after {
//   border-bottom-color: $color-blue-20;
// }
