:root {
  --container-max-width: 1024px;
}

@media (max-width: 768px) {
  :root {
    --grid-column-gap: 16px;
    --grid-row-gap: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    --grid-column-gap: 32px;
    --grid-row-gap: 32px;
  }
}

.container {
  margin: 0 auto;
  max-width: calc(var(--container-max-width) + var(--grid-column-gap) * 2);
  padding: 0 var(--grid-column-gap);
}

@supports (display: grid) {
  .grid {
    column-gap: var(--grid-column-gap);
    display: grid;
    row-gap: var(--grid-row-gap);
  }
}
