// Protocol.
$font-path: '/static/fonts';
$image-path: '/static/img';

$container-max-width: 1024px;
$grid-gap: 32px;
$grid-gap-mobile: 16px;

// Typography.
$body-font-family: 'Inter', X-LocaleSpecific, sans-serif;
$body-font-size: 16px;
$body-line-height: 1.5;

$heading-font-family: 'Zilla Slab', X-LocaleSpecific, sans-serif;
$h1-font-size: 48px;
$h1-font-size-mobile: 36px;
$h2-font-size: 40px;
$h2-font-size-mobile: 32px;
$h3-font-size: 32px;
$h3-font-size-mobile: 24px;
$h4-font-size: 24px;
$h4-font-size-mobile: 20px;
$h5-font-size: 18px;
$h6-font-size: 16px;

$monospace-font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$highlight-font-size: 18px;
$highlight-font-size-mobile: 16px;

$highlight-font-family: 'Zilla Slab Highlight', X-LocaleSpecific, sans-serif;
$highlight1-font-size: 32px;
$highlight2-font-size: 24px;
$highlight3-font-size: 18px;
$highlight1-font-size-mobile: 22px;
$highlight2-font-size-mobile: 18px;
$highlight3-font-size-mobile: 16px;

// custom colors
$color-nevada: #697276;
