:root {
  --body-background-color: #fff;
  --body-color: #000;
  --card-border: #E7E5E2;
  --color-aquamarine: #54FFBD;
  --color-athens-gray: #EDEDF0;
  --color-jacksons-purple: #2B1D87;
  --color-purple: #740387;
}
