{% extends "base.html" %}
{% load static %}
{% load app_filters %}
{% load wagtailcore_tags %}


{% block body_class %}home{% endblock %}

{% block content %}
  <main>
    <div class="base-grid">
      <section>
        {% include "organisms/homepage-header.html" %}
      </section>
      <section>
        {% include "organisms/featured.html" with featured=page.featured %}
      </section>
      <section class="section-full">
        {% include "organisms/topic-links.html" with topics=page.primary_topics.all pagetheme='home' %}
      </section>
      <section>
        {% include "organisms/newsletter-signup.html" %}
      </section>
    </div>
  </main>
{% endblock content %}
