{% extends "base.html" %}
{% load static %}
{% load app_filters %}
{% load wagtailcore_tags %}


{% block body_class %}home{% endblock %}

{% block content %}
  <main class="has-header has-footer">
    <div class="base-grid">
      <section class="section-full">
        {% include "organisms/homepage-header.html" %}
      </section>
      <section>
        {% include "organisms/featured.html" with featured=page.featured %}
      </section>
      <section class="section-full">
        {% include "organisms/topic-links.html" with topics=page.primary_topics.all pagetheme='home' %}
      </section>
          {% include "organisms/homepage-about.html" with title=page.about_title subtitle=page.about_subtitle button_url=page.about_button_url button_text=page.about_button_text %}
      </section>
      <section class="section-full">
        {% include "organisms/newsletter-signup.html" %}
      </section>
    </div>
  </main>
{% endblock content %}
