{% extends "wagtailadmin/login.html" %}
{% load i18n app_tags %}

{% block login_form %}

  {% use_conventional_auth as conventional_auth_enabled %}

  {% if conventional_auth_enabled %}

    {{ block.super }}

  {% else %}

    <h1>Admin</h1>
    <a href="{% url 'oidc_authentication_init' %}" class="button button-longrunning" data-clicked-text="{% trans 'Signing in…' %}">
      <span class="icon icon-spinner"></span>
      <em>
        {% trans 'Sign in with Mozilla SSO' %}
      </em>
    </a>
    <h3>If you lack SSO access, please ask your contact within Mozilla.</h3>
  {% endif %}
{% endblock %}

